<div class="sticky-wrapper">
   <div class="main-header">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-sm-3 col-9">
               <div class="logo animated fadeInUp" data-animate="fadeInUp" data-delay=".7" style="animation-duration: 0.6s; animation-delay: 0.7s;">
                 <a href="{% url 'home' %}"> <img src="{{STATIC_URL}}images/logo.png" alt="VPNet" > </a>
               </div>
            </div>
            <div class="col-lg-7 col-md-5 col-sm-3 col-3">
               <nav data-animate="fadeInUp" data-delay=".9" class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.9s;">
                  <div class="header-menu">
                     <div id="menu-button">
                        <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                           <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0
                           160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163
                           16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                        </svg>
                        <!-- <i class="fas fa-bars"></i> -->
                     </div>
                     <ul>
                        <li class="{% if activate_menu == 'home' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
                        <li class="has-sub {% if activate_menu == 'product' %} active {% endif %}">
                           <span class="submenu-button"></span>
                           <a href="{% url 'products' %}">
                              Product
                              <svg class="svg-inline--fa fa-caret-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                 <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                              </svg>
                              <!-- <i class="fas fa-caret-down"></i> -->
                           </a>
                           <ul class="sub_menu">
                              {% for sg_data in product_category %}
                                <li><a href="{{sg_data.get_absolute_url}}">{{sg_data.name}}</a></li>
                              {% endfor %}
                           </ul>
                        </li>
                        <li class="has-sub {% if activate_menu == 'service' %} active {% endif %}">
                           <span class="submenu-button"></span>
                           <a href="{% url 'services' %}">
                              Services
                              <svg class="svg-inline--fa fa-caret-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                 <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                              </svg>
                              <!-- <i class="fas fa-caret-down"></i> -->
                           </a>
                           <ul>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/about.html">About</a></li>

                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/affiliate.html">Affiliate Program</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/pricing.html">Pricing Plans</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/testimonials.html">Testimonials</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/service-details.html">Service Details</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/404.html">404</a></li>
                           </ul>
                        </li>
                        <li class="has-sub {% if activate_menu == 'industry' %} active {% endif %}">
                           <span class="submenu-button"></span>
                           <a href="{% url 'industries' %}">
                              Industries
                              <svg class="svg-inline--fa fa-caret-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                 <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                              </svg>
                              <!-- <i class="fas fa-caret-down"></i> -->
                           </a>
                           <ul>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/blog.html">Full Width</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/blog-sidebar-left.html">Blog Sidebar Left</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/blog-sidebar-right.html">Blog Sidebar Right</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/blog-2-columns.html">2 Columns Blog</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/blog-3-columns.html">3 Columns Blog</a></li>
                              <li><a href="http://themelooks.net/demo/vpnet/html/preview/blog-details.html">Blog Details</a></li>
                           </ul>
                        </li>
                        <li class="{% if activate_menu == 'about' %} active {% endif %}"><a href="{% url 'aboutus' %}">About Us</a></li>
                        <li class="{% if activate_menu == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
                     </ul>
                  </div>
               </nav>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 d-none d-sm-block">
               <!-- <ul class="client-area text-right list-inline m-0 animated fadeInUp" data-animate="fadeInUp" data-delay="1.1" style="animation-duration: 0.6s; animation-delay: 1.1s;">
                  <li class="dropdown">
                     <a href="http://themelooks.net/demo/vpnet/html/preview/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                        <svg class="svg-inline--fa fa-caret-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                           <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                        </svg>
                        <!-- <i class="fas fa-caret-down"></i> -->
                     <!-- </a>
                     <ul class="dropdown-menu dropdown-menu-right client-links " aria-labelledby="dropdownMenuLink">
                        <li><a href="http://themelooks.net/demo/vpnet/html/preview/#">Sign In</a></li>
                        <li><a href="http://themelooks.net/demo/vpnet/html/preview/#">Sign Up</a></li>
                     </ul>
                  </li>
                  <li><a class="btn btn-secondary" href="http://billing.ywhmcs.com/clientarea.php?systpl=VPNet">Try It Free</a></li>
               </ul> -->
               <div class="input-group input-group-lg">
                  <form action="#" novalidate="">
                    <div class="input-group mb-4 animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                      <div class="single-widget animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                        <form action="#" novalidate="">
                          <div class="form-group position-relative mb-0">
                            <input class="form-control" type="text" placeholder="Search" data-parsley-required-message="Please type at least one word." data-parsley-minlength="3" data-parsley-minlength-message="Please type at least one word." required="">
                            <button type="submit">
                              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                              </svg><!-- <i class="fas fa-search"></i> -->
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>
