{% extends 'master.html' %}
{% load static fb_versions %}


{% block main_container %}
<section class="page-title-wrap position-relative bg-light">
   <div id="particles_js">
      <canvas class="particles-js-canvas-el" width="1850" height="244" style="width: 100%; height: 100%;"></canvas>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-11">
            <div class="page-title position-relative pt-5 pb-5">
               <ul class="custom-breadcrumb roboto list-unstyled mb-0 clearfix animated fadeInUp" data-animate="fadeInUp" data-delay="1.2" style="animation-duration: 0.6s; animation-delay: 1.2s;">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>
                     <svg class="svg-inline--fa fa-angle-double-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path>
                     </svg>
                     <!-- <i class="fas fa-angle-double-right"></i> -->
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
               </ul>
               <h1 data-animate="fadeInUp" data-delay="1.3" class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 1.3s;">Contact</h1>
            </div>
         </div>
         <div class="col-1">
            <div class="world-map position-relative">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="570px" height="273px" class="svg replaced-svg" viewBox="0 0 273px 570px">
                  <path opacity="0.3" fill-rule="evenodd" fill="rgb(28, 145, 242)" d="M196.097,1.070 C201.172,1.059 206.846,0.521 211.586,1.281 C213.640,1.610 218.027,2.444 220.136,2.123 C223.337,1.889 226.538,1.655 229.738,1.421 C232.597,0.978 238.496,0.733 241.582,1.211 C242.867,1.211 244.152,1.211 245.437,1.211 C248.310,1.374 251.184,1.538 254.058,1.702 C255.556,1.988 256.568,2.763 257.912,3.036 C260.792,3.620 263.755,1.760 266.252,2.965 C266.595,4.235 267.578,4.812 267.724,5.773 C267.677,5.820 267.631,5.867 267.584,5.914 C266.066,6.147 264.547,6.382 263.028,6.615 C261.982,6.946 261.233,7.713 260.295,8.090 C259.449,8.429 258.497,8.350 257.842,8.791 C257.336,10.676 258.925,12.831 257.912,14.477 C257.047,15.883 254.643,16.076 253.357,17.074 C251.159,18.780 250.405,22.020 247.610,23.181 C245.340,24.124 242.301,24.492 239.690,24.936 C238.125,25.100 236.560,25.264 234.994,25.427 C232.521,26.042 231.363,27.618 229.248,28.446 C227.173,29.257 224.111,28.996 222.169,29.850 C219.457,31.041 216.409,32.769 214.670,34.974 C213.555,36.386 212.949,38.684 210.885,39.115 C209.296,39.447 208.024,38.443 207.171,37.922 C204.705,36.415 200.420,32.389 201.774,27.533 C202.308,25.619 205.011,24.587 206.260,23.251 C206.217,22.142 205.556,21.621 205.349,20.584 C204.768,17.686 205.920,13.198 203.386,12.161 C200.825,11.112 191.283,13.836 192.313,9.423 C195.204,7.403 201.485,7.885 203.596,5.141 C203.573,5.071 203.550,5.001 203.526,4.931 C201.776,4.689 199.971,5.117 198.480,5.422 C194.147,6.310 190.265,7.087 186.706,8.651 C184.895,9.447 183.474,11.159 181.380,11.529 C179.488,11.863 177.684,10.497 176.263,10.055 C173.523,9.202 168.649,8.148 164.840,8.721 C160.124,9.431 156.018,9.796 152.014,11.038 C149.968,11.672 147.690,13.278 145.917,13.635 C144.264,13.967 143.292,12.786 141.712,12.933 C139.644,13.125 137.506,13.490 135.194,13.845 C134.516,13.892 133.839,13.939 133.161,13.986 C131.401,13.581 129.623,12.239 128.255,11.318 C127.108,10.546 125.209,9.493 125.662,7.598 C127.693,6.081 131.257,5.746 133.862,4.861 C134.605,4.608 135.806,4.005 136.946,4.299 C137.838,4.529 138.189,5.486 138.838,5.984 C140.582,5.466 142.081,4.339 144.164,3.948 C145.218,3.750 146.118,4.147 146.828,4.299 C148.173,4.587 149.653,4.488 150.823,4.720 C153.174,5.188 156.417,5.257 158.882,4.861 C160.307,4.861 161.733,4.861 163.158,4.861 C167.102,4.221 168.817,2.482 172.759,1.842 C174.464,1.889 176.170,1.936 177.875,1.983 C181.753,1.749 185.632,1.515 189.509,1.281 C191.705,1.211 193.902,1.140 196.097,1.070 ZM346.289,3.878 C349.446,3.794 351.176,4.706 353.157,5.703 C353.743,5.997 354.792,5.981 355.120,6.545 C355.143,6.662 355.167,6.779 355.190,6.896 C353.833,7.842 351.591,7.327 349.513,7.668 C346.500,8.160 343.485,8.651 340.472,9.142 C339.033,9.423 337.029,9.549 336.197,8.721 C336.192,8.264 336.262,8.072 336.407,7.809 C334.591,7.579 332.826,6.886 331.641,5.984 C331.856,4.837 334.762,5.135 336.127,5.141 C337.832,5.305 339.538,5.469 341.243,5.633 C342.418,5.429 343.105,4.755 344.046,4.369 C344.794,4.206 345.542,4.042 346.289,3.878 ZM389.742,4.861 C391.957,4.818 393.855,5.199 395.769,5.563 C398.609,6.103 401.330,6.174 403.619,7.177 C406.386,8.390 408.409,10.335 411.748,11.178 C415.656,12.165 421.151,10.124 424.504,11.318 C426.803,12.138 426.870,15.210 429.200,15.951 C430.276,16.294 431.485,16.023 432.774,16.232 C437.335,16.972 442.813,15.538 447.492,16.372 C450.001,16.820 451.681,17.439 453.309,18.689 C454.214,19.384 454.882,20.427 456.112,20.795 C457.467,20.818 458.822,20.841 460.177,20.865 C462.160,20.865 465.222,21.234 466.274,20.233 C466.251,20.163 466.228,20.093 466.204,20.022 C465.168,16.926 456.609,16.611 455.411,13.775 C455.505,13.588 455.598,13.401 455.692,13.214 C458.388,12.354 467.191,11.856 469.428,13.354 C471.619,14.821 471.639,18.009 474.685,18.619 C480.440,19.771 485.080,15.683 489.262,14.407 C490.167,14.131 491.553,13.630 492.837,13.845 C498.522,14.798 501.100,17.957 506.503,19.110 C511.872,20.256 518.976,15.056 522.973,13.494 C524.562,12.874 528.200,13.233 529.491,12.512 C529.491,12.488 529.491,12.465 529.491,12.442 C528.961,10.383 528.879,9.286 530.963,8.441 C532.936,7.640 535.866,8.446 535.869,10.546 C535.775,10.710 535.682,10.874 535.588,11.038 C534.443,11.428 532.980,11.362 532.364,12.301 C532.620,13.419 538.886,13.250 540.494,13.494 C546.548,14.416 556.844,11.805 560.679,14.688 C561.839,15.560 562.220,16.898 562.571,18.619 C562.810,19.790 563.648,22.084 563.062,23.111 C563.038,23.111 563.015,23.111 562.992,23.111 C561.455,23.112 560.358,22.444 559.137,22.058 C557.408,21.637 555.679,21.216 553.951,20.795 C552.650,20.506 550.563,20.335 549.886,21.216 C549.886,21.309 549.886,21.403 549.886,21.497 C550.750,21.777 551.614,22.058 552.479,22.339 C553.982,22.985 555.107,24.405 556.123,25.568 C556.102,25.960 556.052,25.978 555.913,26.199 C554.166,26.458 551.077,26.095 549.745,26.901 C548.273,27.793 547.993,29.437 545.961,29.920 C544.123,30.356 540.354,29.414 539.233,29.920 C539.444,31.598 541.172,33.596 541.826,35.254 C542.726,37.537 543.239,40.086 543.718,42.765 C543.765,43.701 543.812,44.637 543.858,45.573 C544.183,47.745 544.289,51.388 543.368,52.803 C543.134,52.850 542.900,52.896 542.667,52.943 C539.079,51.605 539.809,47.255 538.392,43.748 C537.883,42.490 536.861,42.240 536.149,41.291 C535.123,39.924 534.864,37.716 534.537,35.676 C534.027,32.493 536.442,28.476 535.238,26.480 C534.708,25.603 532.338,24.230 531.523,25.778 C531.163,26.463 531.323,27.640 530.963,28.235 C530.916,28.258 530.869,28.282 530.823,28.305 C528.328,28.308 527.030,26.107 524.585,26.691 C524.244,27.174 523.904,27.610 523.744,28.305 C523.438,29.630 524.091,31.805 523.043,32.377 C522.215,33.043 521.108,32.224 519.959,32.447 C519.095,32.798 518.231,33.149 517.366,33.500 C514.709,35.075 512.416,37.124 510.007,38.975 C508.722,39.962 507.439,41.335 505.802,41.923 C503.442,42.770 500.769,40.592 498.794,42.063 C497.817,42.790 496.075,47.107 495.570,48.451 C495.373,48.973 495.173,50.180 495.570,50.627 C495.992,51.102 497.981,51.134 498.934,50.978 C501.976,50.480 505.414,50.791 507.975,51.539 C508.275,51.357 508.273,51.271 508.395,50.908 C508.489,50.908 508.582,50.908 508.676,50.908 C511.515,52.914 515.939,55.899 517.717,58.839 C518.137,60.220 518.558,61.601 518.978,62.981 C519.450,64.079 520.423,64.928 520.871,65.929 C521.428,67.174 521.270,68.461 522.342,69.158 C524.330,70.450 528.234,69.423 530.192,68.947 C531.260,68.688 532.408,68.768 532.645,69.719 C533.512,73.204 526.800,72.997 526.337,74.914 C526.096,75.915 527.203,77.347 527.458,78.213 C527.739,79.944 528.019,81.676 528.300,83.407 C529.010,85.145 531.336,87.092 530.963,89.374 C530.250,90.263 525.060,90.194 523.604,90.567 C521.863,91.013 519.631,91.793 518.628,93.024 C517.831,94.001 517.194,96.047 515.965,96.533 C515.272,96.809 514.621,96.299 514.142,96.112 C512.834,95.601 510.564,95.244 511.339,93.164 C511.698,92.201 513.656,88.516 514.423,88.040 C515.209,87.552 516.226,87.474 517.226,87.198 C519.686,86.519 521.827,85.679 522.973,83.688 C523.344,83.043 524.649,79.611 524.375,78.845 C523.613,76.718 520.900,75.829 520.029,73.650 C519.679,72.083 519.329,70.515 518.978,68.947 C517.918,65.553 516.436,62.235 514.703,59.471 C513.695,57.863 511.731,55.729 509.236,55.962 C509.236,56.055 509.236,56.149 509.236,56.242 C510.151,57.622 511.551,58.537 512.250,60.173 C513.663,63.481 513.014,70.316 510.708,71.966 C509.299,72.974 504.894,72.620 504.050,73.861 C503.408,74.805 504.023,76.111 503.770,77.441 C503.582,78.430 502.907,78.796 502.508,79.547 C502.970,80.279 503.953,80.417 504.681,80.880 C505.942,81.682 509.121,84.231 509.447,85.794 C509.661,86.824 508.890,87.713 508.606,88.391 C508.308,89.101 508.074,89.882 507.484,90.286 C506.658,90.852 505.250,90.829 504.681,90.076 C504.144,88.882 503.606,87.689 503.069,86.496 C501.826,84.025 499.798,82.320 497.462,80.950 C496.851,80.592 495.445,79.614 494.519,79.827 C493.715,80.012 493.180,81.150 491.925,80.670 C490.499,80.123 490.588,78.427 489.823,77.230 C489.729,77.230 489.636,77.230 489.543,77.230 C488.254,78.080 484.595,81.382 485.197,83.197 C487.134,84.088 487.826,83.360 489.473,82.986 C490.944,82.652 492.395,83.487 493.187,83.969 C493.746,84.309 494.878,84.813 494.519,85.794 C494.115,86.583 492.904,86.491 492.346,87.127 C493.011,88.921 494.746,90.132 495.850,91.550 C496.976,92.995 497.825,94.451 498.864,96.042 C499.405,96.872 500.383,97.341 500.686,98.429 C501.280,100.562 499.877,102.787 499.284,104.185 C498.080,107.021 496.883,110.170 494.519,111.836 C491.797,113.753 487.681,114.075 484.987,116.047 C483.090,117.436 483.538,121.174 481.763,122.645 C480.958,122.154 479.590,120.341 479.520,119.206 C479.455,118.129 481.470,115.106 478.609,114.924 C477.882,115.299 477.654,116.062 476.997,116.468 C476.148,116.994 475.002,116.909 474.334,117.591 C474.311,120.865 480.115,125.975 481.833,128.471 C483.479,130.862 484.318,132.682 482.254,135.350 C481.554,136.255 480.557,136.951 479.591,137.597 C478.500,138.324 477.141,139.540 475.456,139.562 C472.373,138.025 469.437,132.108 465.223,131.911 C465.041,132.009 464.989,132.024 464.873,132.192 C463.398,134.486 465.783,138.834 466.625,140.053 C469.781,144.624 475.373,147.173 474.194,155.426 C474.147,155.449 474.101,155.473 474.054,155.496 C473.680,155.168 473.306,154.841 472.932,154.513 C472.746,154.607 472.559,154.700 472.372,154.794 C471.574,159.684 476.739,157.396 478.259,159.637 C479.774,161.873 477.543,164.558 477.908,166.727 C478.799,167.861 482.329,168.572 483.866,169.184 C487.165,170.497 490.675,171.561 494.519,172.413 C496.644,172.647 498.771,172.881 500.896,173.115 C501.833,173.341 502.146,174.119 503.069,174.308 C505.025,174.707 510.711,173.919 512.250,173.466 C513.460,173.109 514.490,172.431 515.965,172.413 C516.171,173.025 516.694,173.703 516.455,174.518 C515.469,177.883 506.000,177.870 502.298,176.765 C498.960,175.768 495.627,174.775 492.066,174.027 C490.571,173.933 489.075,173.840 487.580,173.746 C483.689,173.060 480.137,172.453 476.997,171.079 C474.099,169.811 472.395,167.630 470.550,165.323 C467.897,162.006 464.939,159.324 462.700,155.496 C461.345,153.016 459.990,150.535 458.635,148.055 C458.213,147.453 456.806,146.641 457.233,145.529 C457.660,144.677 459.244,144.794 460.037,145.248 C461.297,145.968 464.358,150.305 465.994,149.740 C467.362,149.187 467.695,147.595 466.835,146.301 C465.235,143.892 461.824,142.361 461.158,139.141 C461.252,136.989 461.345,134.835 461.439,132.683 C461.139,130.875 460.341,129.810 459.967,128.191 C459.764,127.312 460.000,125.162 459.336,124.751 C458.447,124.202 456.426,126.865 455.551,127.208 C452.232,126.035 451.627,121.565 449.945,118.715 C449.454,118.059 448.963,117.404 448.473,116.749 C448.208,116.349 447.951,114.301 447.702,114.152 C446.466,113.412 442.021,114.008 440.974,114.433 C438.739,115.339 437.555,117.286 435.788,118.644 C432.558,121.127 427.576,122.622 426.256,126.997 C425.833,128.398 425.344,130.846 426.116,132.122 C426.749,133.167 428.001,133.691 428.148,135.210 C427.826,135.670 426.903,136.549 427.097,137.175 C427.501,137.930 428.889,138.133 429.550,138.650 C431.359,140.064 433.028,144.695 431.302,147.424 C429.182,148.063 426.972,146.207 426.606,144.405 C426.372,143.248 427.314,141.456 426.466,140.896 C424.695,139.724 422.014,142.573 420.229,142.159 C419.396,140.963 419.205,139.307 418.757,137.667 C418.132,135.377 417.582,133.031 416.724,130.928 C415.262,127.343 412.300,125.291 411.048,122.084 C410.115,119.697 410.577,117.489 411.959,116.117 C411.889,116.071 411.818,116.024 411.748,115.977 C409.891,115.168 405.593,116.231 404.109,115.135 C401.773,113.409 401.438,108.782 398.502,107.764 C395.680,106.786 392.767,108.460 389.952,108.045 C388.309,107.803 386.883,107.655 385.537,107.133 C384.088,106.548 382.640,105.963 381.191,105.378 C379.401,104.925 377.248,105.822 375.585,105.378 C374.288,105.032 373.531,103.907 372.711,103.061 C371.286,101.593 367.962,98.784 365.563,98.499 C364.745,98.756 363.927,99.014 363.110,99.271 C363.133,99.411 363.156,99.552 363.180,99.692 C363.693,100.880 365.157,101.794 366.123,102.570 C368.384,104.386 370.958,108.259 374.043,108.958 C376.231,109.454 377.191,107.688 378.668,107.343 C379.772,107.086 380.328,108.005 380.841,108.396 C382.423,109.604 386.301,109.906 387.008,111.906 C387.817,114.189 384.552,118.105 383.644,119.276 C379.650,124.429 372.660,126.664 366.193,129.314 C364.066,130.185 361.224,131.830 357.993,131.139 C357.066,130.941 356.229,130.460 355.821,129.735 C355.401,128.988 355.538,127.899 355.330,126.927 C354.904,124.934 354.391,123.017 353.648,121.312 C351.433,116.231 346.516,110.589 342.785,106.852 C341.615,105.680 339.969,103.205 338.019,102.991 C337.972,103.038 337.926,103.085 337.879,103.132 C337.877,105.964 339.712,109.740 340.893,111.625 C341.492,112.583 342.402,113.329 342.855,114.433 C343.548,116.122 343.065,118.825 343.766,120.469 C344.710,122.683 347.374,123.797 348.812,125.594 C349.683,126.682 350.070,128.050 350.915,129.244 C352.342,131.259 356.174,134.058 358.834,134.789 C359.789,135.051 360.872,134.690 361.638,134.508 C363.860,133.979 370.743,131.804 372.781,132.964 C373.999,139.457 371.692,141.584 368.927,145.458 C366.171,149.319 362.385,154.327 358.764,157.251 C356.246,159.285 352.222,162.224 350.564,164.972 C349.818,166.210 349.975,169.152 350.284,170.939 C350.705,173.374 351.327,175.020 351.896,177.116 C352.106,178.285 352.316,179.456 352.527,180.625 C352.895,181.950 353.729,183.790 353.298,185.539 C352.902,187.143 351.277,188.275 350.144,189.189 C348.625,190.593 347.107,191.997 345.588,193.401 C344.513,194.264 343.132,195.194 342.364,196.349 C340.941,198.491 342.535,203.142 341.453,205.755 C340.613,207.786 337.619,207.452 336.547,209.194 C336.209,209.744 336.342,210.505 336.127,211.230 C335.730,212.570 334.939,213.843 334.235,214.950 C331.845,218.706 328.255,221.918 323.862,223.654 C321.947,224.169 320.031,224.683 318.115,225.198 C316.394,225.799 312.246,228.389 310.055,227.515 C306.584,226.129 307.817,218.480 305.780,215.582 C304.483,213.735 301.628,213.228 300.874,210.879 C299.893,207.821 302.057,204.350 301.014,201.894 C300.331,200.284 298.956,199.172 298.001,197.823 C296.308,195.432 295.565,192.866 294.987,189.259 C294.134,183.934 300.160,181.798 298.772,175.642 C297.878,171.681 295.814,167.965 293.796,164.972 C292.860,163.585 291.130,162.429 290.712,160.620 C289.893,157.079 293.090,153.796 292.324,151.284 C291.848,149.725 289.516,150.256 287.768,149.951 C285.122,149.488 281.127,149.327 280.199,147.143 C280.374,146.121 281.091,145.663 281.531,144.897 C281.507,144.780 281.484,144.663 281.461,144.546 C279.076,144.213 276.367,144.960 274.873,145.879 C274.023,146.402 273.345,147.165 272.280,147.494 C269.871,148.238 266.148,147.550 263.799,148.196 C262.287,148.612 259.560,150.431 257.912,149.810 C255.580,148.931 253.678,147.096 251.745,145.739 C250.216,144.666 248.365,143.855 247.259,142.370 C246.229,140.986 246.148,138.618 245.087,137.246 C244.444,136.416 243.405,135.926 242.844,134.999 C242.423,134.040 242.003,133.081 241.582,132.122 C240.991,131.273 239.582,130.406 239.900,128.752 C240.462,125.833 243.425,124.713 243.965,121.803 C244.599,118.387 239.328,116.468 241.372,112.959 C243.334,109.591 246.318,104.679 249.292,102.359 C250.559,101.371 253.846,100.881 254.688,99.762 C255.880,98.179 254.658,94.847 255.880,93.305 C256.464,92.883 257.048,92.462 257.632,92.041 C258.705,91.233 261.182,88.905 261.697,87.689 C263.284,83.936 259.468,84.423 258.753,82.635 C258.272,81.433 258.456,79.416 258.823,78.213 C259.010,77.651 259.197,77.090 259.384,76.528 C259.270,75.201 257.813,73.765 258.403,72.246 C259.451,69.549 270.098,70.993 271.719,68.596 C273.760,65.578 268.116,64.388 267.934,61.858 C269.032,60.058 274.891,61.363 275.994,59.541 C276.017,59.448 276.041,59.354 276.064,59.261 C272.822,56.939 270.990,60.613 267.023,59.682 C265.300,57.300 269.019,54.373 269.686,52.662 C269.182,51.500 267.627,51.323 266.813,52.311 C265.417,54.006 264.148,58.816 260.996,58.067 C260.096,56.866 258.238,54.301 258.753,52.171 C259.197,50.333 261.138,49.274 262.187,47.959 C262.888,47.024 263.589,46.088 264.290,45.152 C264.921,44.079 264.937,42.788 265.902,42.063 C267.346,40.979 269.264,41.036 271.368,40.519 C272.338,40.281 273.965,39.283 275.153,39.747 C275.270,39.817 275.387,39.887 275.503,39.957 C275.835,42.163 274.589,44.413 275.433,46.626 C276.289,48.868 278.721,49.963 279.218,52.382 C279.513,53.820 278.431,54.710 278.657,55.681 C278.826,56.638 280.013,57.604 281.110,56.944 C282.535,55.447 283.961,53.949 285.385,52.452 C286.904,51.252 288.948,50.823 290.081,49.223 C290.812,48.191 290.583,45.807 291.763,45.222 C293.955,44.705 295.003,48.031 295.898,49.223 C297.047,50.752 300.466,51.583 303.467,51.118 C304.908,50.895 308.705,50.328 309.214,49.363 C310.606,46.730 308.331,44.830 312.158,44.099 C312.371,43.473 312.047,42.777 312.158,42.063 C312.734,41.404 314.057,41.628 315.031,41.361 C316.680,40.910 319.190,40.179 320.148,38.975 C320.148,38.905 320.148,38.834 320.148,38.764 C317.743,38.467 313.748,41.231 311.948,40.098 C311.207,39.632 310.841,38.497 310.336,37.781 C309.963,37.254 308.966,36.517 309.214,35.465 C309.584,33.899 313.781,32.238 312.999,30.411 C310.578,30.485 304.825,36.036 304.378,38.203 C304.425,39.981 304.472,41.759 304.519,43.537 C304.112,45.944 301.121,48.308 297.931,47.679 C295.377,47.175 296.983,42.921 294.567,42.344 C293.073,41.987 290.296,43.221 288.820,43.467 C286.364,43.876 283.558,40.265 283.283,38.554 C283.028,36.972 284.731,36.429 285.666,35.956 C288.679,34.506 291.693,33.055 294.707,31.604 C295.721,31.003 297.169,30.213 297.790,29.218 C297.907,28.680 298.024,28.141 298.141,27.603 C298.473,26.183 299.153,25.305 300.243,24.655 C303.903,22.476 315.012,20.174 321.199,21.356 C324.246,21.939 327.190,22.809 330.029,23.673 C332.822,24.521 336.577,24.806 337.879,27.182 C337.638,28.728 336.094,28.452 334.725,28.867 C333.247,29.315 330.934,30.625 330.800,32.377 C330.824,32.423 330.847,32.470 330.870,32.517 C332.118,32.516 337.154,30.464 337.949,29.850 C338.391,29.508 338.485,28.936 338.790,28.446 C339.292,27.640 340.392,27.135 341.383,26.831 C342.755,26.410 344.165,26.621 345.869,26.340 C348.251,25.946 351.284,25.397 352.947,24.164 C352.947,24.070 352.947,23.977 352.947,23.883 C352.041,22.988 349.187,22.492 348.812,21.216 C348.642,20.635 349.747,17.265 350.004,16.864 C352.199,13.436 357.942,12.071 362.549,11.108 C365.233,10.547 369.671,9.976 368.856,13.565 C367.583,14.426 365.584,14.343 363.810,14.758 C360.340,15.569 356.707,16.523 354.699,18.829 C354.711,21.240 357.544,20.539 359.045,21.426 C359.045,21.567 359.045,21.707 359.045,21.847 C358.804,22.604 357.767,22.744 357.082,23.041 C357.135,23.353 357.170,23.336 357.292,23.532 C359.868,24.447 361.935,24.263 364.792,23.602 C365.742,23.383 367.148,22.909 368.436,23.181 C369.921,23.495 372.231,25.947 373.973,25.498 C374.089,25.451 374.206,25.404 374.323,25.357 C374.323,25.240 374.323,25.123 374.323,25.006 C373.963,24.148 370.173,17.497 372.641,16.302 C373.814,16.033 374.716,17.113 375.374,17.636 C377.503,19.327 379.021,21.669 380.631,23.883 C381.051,24.421 381.472,24.959 381.892,25.498 C382.340,27.009 380.985,27.990 381.191,29.358 C382.275,29.671 383.772,28.840 384.415,28.375 C385.486,24.508 378.887,22.180 380.561,19.882 C383.193,18.907 386.616,19.036 389.672,18.268 C391.605,17.781 393.099,16.857 394.858,16.302 C396.423,15.998 397.989,15.694 399.554,15.390 C401.228,15.077 406.581,15.023 406.702,13.565 C406.782,12.612 404.851,11.666 404.179,11.318 C401.023,9.687 395.727,9.803 392.055,8.651 C390.849,8.273 387.922,7.334 388.620,5.563 C388.860,5.061 389.237,5.092 389.742,4.861 ZM304.729,9.353 C308.704,9.310 311.996,9.519 315.522,10.055 C317.542,10.362 320.090,9.813 321.619,10.617 C321.619,10.687 321.619,10.757 321.619,10.827 C318.653,12.395 315.685,13.963 312.719,15.530 C312.023,15.881 310.583,17.020 309.425,16.653 C308.471,16.351 308.021,14.642 307.532,13.845 C307.369,13.822 307.205,13.799 307.042,13.775 C305.677,14.532 305.725,16.463 304.238,17.074 C301.362,18.256 293.976,14.390 293.305,12.512 C294.150,10.654 299.183,10.065 301.645,9.634 C302.673,9.540 303.701,9.447 304.729,9.353 ZM162.036,14.547 C165.830,14.491 169.523,14.839 173.110,15.390 C174.659,15.628 176.733,15.268 177.315,16.443 C177.804,18.609 173.919,18.614 171.848,18.548 C168.531,18.385 165.213,18.221 161.896,18.057 C159.929,17.750 157.735,17.649 155.869,18.057 C155.869,18.080 155.869,18.104 155.869,18.127 C155.869,18.151 155.869,18.174 155.869,18.197 C156.728,18.366 157.764,18.696 158.041,19.461 C159.224,22.537 153.636,21.553 152.855,23.111 C152.658,23.921 154.640,26.905 155.238,27.112 C155.997,27.375 158.786,26.475 159.303,26.129 C159.285,24.492 159.125,23.028 159.863,22.058 C160.699,20.960 162.411,21.803 163.858,21.497 C164.816,21.192 165.774,20.888 166.732,20.584 C169.349,20.025 172.387,20.093 175.422,20.093 C176.544,20.093 177.665,20.093 178.786,20.093 C179.494,20.257 180.360,21.255 181.590,21.567 C183.786,22.124 186.816,21.923 188.178,23.322 C188.049,24.818 186.073,25.102 186.496,26.972 C187.098,29.636 191.182,29.771 191.332,32.727 C190.048,35.202 183.179,35.833 180.609,37.430 C179.222,38.292 178.793,39.908 176.824,40.308 C174.338,40.814 173.530,38.283 172.269,37.430 C170.221,36.047 167.628,36.430 165.821,34.623 C165.579,34.381 164.454,33.674 164.699,33.078 C164.931,32.518 168.356,32.359 169.255,32.166 C171.447,31.696 173.523,30.672 174.511,29.007 C174.511,28.984 174.511,28.960 174.511,28.937 C172.786,29.291 171.294,31.100 169.325,30.762 C169.169,28.938 171.104,27.909 170.797,25.989 C168.791,25.036 166.833,26.846 165.400,27.463 C164.559,27.790 163.718,28.118 162.877,28.446 C162.095,28.989 162.039,30.233 161.195,30.762 C159.964,31.533 157.743,31.706 157.060,33.008 C157.253,33.984 158.086,34.313 158.532,35.044 C158.485,35.161 158.438,35.278 158.392,35.395 C156.770,35.739 154.559,35.940 153.416,36.799 C153.388,37.394 153.393,37.734 153.135,38.132 C148.412,39.233 151.081,35.289 147.178,35.956 C142.674,36.726 139.682,39.272 136.175,41.081 C134.670,41.857 132.535,42.402 131.900,44.029 C131.447,45.186 132.523,48.125 133.021,48.942 C134.584,51.510 141.145,49.605 143.043,51.890 C144.657,53.833 142.246,57.434 143.674,59.471 C146.223,59.582 146.639,56.189 148.159,54.979 C149.873,53.615 155.110,51.560 156.009,49.995 C156.942,48.371 155.244,46.841 155.588,45.292 C155.717,44.713 159.476,38.208 159.863,37.922 C161.004,37.082 163.168,37.695 164.489,37.922 C165.353,37.945 166.218,37.969 167.082,37.992 C167.859,38.210 171.718,41.474 171.988,42.133 C172.105,42.999 172.222,43.865 172.339,44.731 C174.729,46.470 177.403,42.678 179.627,42.484 C181.208,43.324 180.136,47.241 181.029,48.732 C182.076,50.479 184.754,51.485 185.444,53.154 C186.213,55.010 185.623,57.953 185.304,59.892 C184.829,62.786 187.237,64.144 186.986,65.438 C186.864,66.067 186.305,66.441 185.865,66.771 C183.788,68.330 181.478,66.702 179.417,66.069 C178.132,65.789 176.847,65.508 175.562,65.227 C175.609,65.157 175.656,65.087 175.703,65.017 C177.153,64.591 181.180,62.462 179.978,60.454 C175.687,58.789 173.877,64.935 168.975,63.753 C168.521,63.088 168.469,61.318 167.713,60.945 C166.110,59.958 162.519,61.764 162.457,63.262 C162.527,63.379 162.597,63.496 162.667,63.613 C164.595,63.762 166.349,63.666 167.433,64.806 C167.408,65.655 167.033,65.710 166.942,66.491 C168.867,69.113 172.179,67.195 174.651,68.596 C174.651,68.737 174.651,68.877 174.651,69.018 C173.480,71.278 165.230,74.869 161.265,73.229 C160.497,72.911 160.183,72.298 159.653,71.755 C156.791,71.751 153.959,75.498 152.084,76.879 C148.282,79.680 143.588,81.635 139.889,84.601 C138.687,85.565 138.166,87.224 137.296,88.531 C136.349,89.954 134.726,91.228 133.371,92.252 C131.584,93.602 124.916,97.251 124.330,98.990 C123.118,102.592 127.497,106.232 128.185,108.958 C128.735,111.137 128.101,114.110 129.096,115.766 C130.615,118.293 133.114,118.574 136.245,119.557 C140.020,120.741 143.286,122.401 147.669,123.207 C150.322,123.695 157.012,122.917 154.187,126.717 C154.046,126.717 153.906,126.717 153.766,126.717 C153.036,125.294 149.837,125.754 147.949,125.453 C143.044,125.009 138.137,124.564 133.231,124.119 C130.897,123.742 127.225,124.590 126.363,122.786 C125.615,121.409 127.194,119.873 126.854,118.364 C124.631,116.758 117.315,117.620 116.201,115.766 C116.224,115.696 116.247,115.626 116.271,115.556 C117.347,113.487 121.503,113.752 123.770,112.818 C124.490,112.521 125.962,111.936 125.522,110.783 C125.204,110.223 124.462,110.336 123.840,110.081 C122.927,109.707 121.890,108.923 121.317,108.186 C120.622,107.291 119.977,105.947 120.266,104.114 C120.266,103.576 120.266,103.038 120.266,102.500 C119.879,101.580 118.388,100.849 117.462,100.464 C113.927,98.994 109.388,99.748 105.688,100.464 C103.667,100.855 101.355,100.340 99.591,100.885 C95.394,102.183 90.904,106.947 90.059,111.625 C89.159,116.611 92.505,126.238 97.628,124.611 C100.627,123.659 101.798,120.744 104.076,119.066 C105.006,118.381 110.073,115.756 111.225,118.083 C111.628,119.716 108.465,123.288 107.650,124.400 C107.268,124.922 106.179,125.777 106.459,126.646 C107.423,128.570 111.830,128.368 114.308,128.963 C116.042,131.351 113.522,134.707 114.308,137.526 C114.580,138.500 115.992,139.654 116.761,140.194 C117.775,140.905 118.505,140.742 119.985,140.966 C121.506,141.196 123.395,142.124 125.101,141.668 C128.411,140.783 131.060,135.913 134.633,134.929 C138.772,133.790 144.180,138.335 148.229,138.930 C151.426,139.400 154.362,136.383 157.621,137.737 C160.666,139.003 160.370,144.041 162.807,145.950 C166.600,148.919 173.272,148.587 176.263,152.337 C177.249,153.573 178.060,155.065 178.576,156.759 C178.902,157.827 178.918,159.595 179.768,160.129 C181.660,160.503 183.552,160.878 185.444,161.252 C187.851,161.988 189.045,163.845 191.472,164.411 C193.637,164.915 196.567,164.214 198.410,164.972 C200.037,165.642 199.618,167.440 200.653,167.990 C201.284,168.061 201.914,168.131 202.545,168.201 C204.104,168.464 205.828,168.679 206.890,169.465 C208.372,170.561 208.799,174.385 208.082,176.975 C206.833,181.486 201.291,182.672 200.092,187.364 C199.652,189.086 200.038,191.196 200.302,192.839 C200.865,196.329 198.779,202.943 197.149,204.210 C194.165,206.529 185.508,207.287 183.692,209.756 C182.401,211.512 183.618,214.230 183.132,216.564 C182.775,218.275 181.635,219.196 180.889,220.495 C179.337,223.200 179.515,226.170 176.544,227.444 C174.872,228.161 172.387,227.763 170.306,228.217 C170.283,228.287 170.259,228.357 170.236,228.427 C170.838,230.224 172.829,231.066 173.250,233.130 C173.917,236.410 168.597,236.862 166.942,238.114 C166.062,238.780 166.101,240.553 165.190,241.132 C164.147,241.796 162.647,241.264 161.896,242.185 C162.382,242.990 163.527,243.300 163.718,244.361 C164.126,246.621 159.635,248.106 160.424,250.819 C160.906,252.477 163.662,252.584 164.349,254.188 C165.195,256.164 163.042,256.983 163.298,258.751 C163.509,260.214 164.504,260.832 165.050,261.909 C165.283,262.658 165.517,263.407 165.751,264.156 C166.928,266.720 173.895,266.273 174.441,269.841 C174.852,272.527 166.072,273.743 163.438,272.509 C160.145,270.966 163.308,267.332 162.807,265.138 C161.743,265.179 161.466,265.725 160.354,265.770 C159.615,264.812 158.409,264.369 157.340,263.734 C154.795,262.224 151.275,260.831 149.561,258.470 C149.007,257.706 148.625,256.708 148.440,255.592 C148.416,254.703 148.393,253.814 148.370,252.925 C148.119,252.093 147.416,251.846 147.248,250.678 C146.968,248.733 148.044,246.965 147.599,245.063 C146.942,244.605 145.321,244.536 144.865,243.870 C144.033,242.653 144.687,239.096 144.024,237.622 C143.494,236.445 142.695,235.697 142.412,234.043 C142.031,231.809 143.172,230.361 142.763,228.217 C142.296,226.275 141.828,224.332 141.361,222.390 C141.032,220.671 141.291,218.800 141.291,216.915 C141.291,215.769 141.291,214.622 141.291,213.476 C141.314,211.838 141.338,210.200 141.361,208.562 C141.671,206.570 141.786,200.457 141.291,198.805 C139.711,193.536 133.578,193.290 129.727,190.312 C127.395,188.508 126.650,185.638 125.382,182.731 C124.366,180.403 122.865,178.317 121.387,176.414 C120.248,174.947 117.286,172.443 116.901,170.588 C116.576,169.018 118.389,167.856 118.724,166.587 C119.384,164.083 116.425,163.853 117.182,161.392 C118.218,158.025 122.129,157.022 123.419,153.741 C123.828,152.702 124.655,146.626 123.419,145.950 C122.052,144.833 119.526,146.525 117.883,145.950 C116.447,145.447 115.636,143.835 114.378,143.072 C112.743,142.463 111.108,141.855 109.472,141.247 C107.618,140.104 107.946,137.263 106.669,135.561 C105.536,134.051 103.071,134.606 101.202,133.806 C99.824,133.216 98.436,132.047 97.558,130.928 C97.075,130.313 96.694,129.218 95.946,128.893 C94.058,128.070 91.555,130.405 89.148,129.875 C86.155,129.217 83.779,127.070 81.368,125.664 C79.617,124.845 77.864,124.026 76.112,123.207 C73.199,121.009 76.694,117.706 75.271,114.854 C74.409,113.126 72.038,111.963 70.926,110.081 C68.587,106.121 67.584,100.925 64.899,97.306 C64.828,97.306 64.758,97.306 64.688,97.306 C64.642,97.376 64.595,97.446 64.548,97.516 C64.020,98.529 64.558,100.656 64.758,101.587 C65.539,105.209 66.463,108.147 67.772,111.204 C68.105,111.981 69.377,113.522 69.034,114.503 C68.987,114.573 68.940,114.643 68.893,114.714 C67.196,114.715 63.915,112.910 63.567,111.695 C63.213,110.461 64.117,109.341 63.637,108.186 C63.309,107.398 62.174,107.428 61.885,106.571 C61.522,105.498 62.215,104.329 62.025,103.342 C61.802,102.181 60.474,101.467 60.063,100.254 C59.503,98.601 60.002,96.599 59.642,94.568 C59.219,92.178 56.536,92.914 55.437,91.339 C54.822,90.457 54.757,81.006 55.157,79.406 C56.295,74.852 62.387,71.973 63.917,67.614 C64.222,66.745 64.732,64.372 64.268,63.542 C63.720,62.563 61.762,62.250 62.305,60.454 C62.564,59.598 63.517,59.585 63.987,58.980 C64.166,58.750 65.915,52.951 65.880,52.803 C62.662,53.081 63.500,58.346 59.642,57.436 C57.682,54.697 61.630,55.171 62.305,53.856 C63.001,52.543 61.647,50.736 62.025,49.153 C62.296,48.017 63.417,48.304 63.847,47.468 C64.634,45.786 60.872,43.304 59.923,42.555 C56.890,40.161 53.552,39.262 49.270,38.062 C48.012,37.710 46.154,36.917 44.504,37.220 C43.826,37.407 43.149,37.594 42.471,37.781 C40.556,38.132 39.677,36.334 38.196,36.799 C36.778,37.244 36.001,39.405 35.183,40.519 C34.006,42.121 32.163,43.061 30.417,44.099 C29.725,44.510 28.386,45.604 27.403,45.362 C27.135,45.270 27.257,45.362 27.123,45.152 C27.009,44.751 27.181,44.075 26.913,43.678 C25.553,41.665 21.311,44.766 20.535,45.362 C15.930,48.901 11.935,53.138 7.008,56.383 C5.710,57.238 2.569,59.364 1.121,57.436 C-0.795,54.883 0.151,49.600 1.752,47.538 C2.998,45.935 6.031,45.814 8.200,45.152 C12.101,43.935 16.003,42.718 19.904,41.502 C21.446,41.127 22.988,40.753 24.530,40.379 C24.530,40.308 24.530,40.238 24.530,40.168 C23.180,39.251 21.332,38.598 19.624,38.062 C18.522,37.717 17.264,37.583 16.400,37.009 C16.376,36.939 16.353,36.869 16.330,36.799 C16.965,35.767 18.461,35.413 19.484,34.763 C21.381,33.557 21.774,32.291 24.530,31.604 C25.841,31.278 29.632,31.249 30.347,30.481 C29.557,29.467 28.217,28.775 27.333,27.814 C27.354,27.422 27.404,27.404 27.543,27.182 C29.862,26.520 34.095,26.593 36.724,27.042 C38.173,27.289 39.543,26.803 40.789,27.182 C41.964,27.540 43.938,29.436 45.345,29.077 C47.354,28.025 49.363,26.972 51.372,25.919 C55.325,24.170 59.294,22.767 64.198,21.918 C66.076,21.592 68.282,22.025 69.734,22.339 C73.013,23.047 75.905,23.679 78.775,24.796 C81.223,25.748 83.718,26.824 86.415,27.463 C88.540,27.966 90.116,26.850 91.671,26.340 C94.111,25.540 96.514,25.366 99.450,24.866 C100.315,24.913 101.179,24.959 102.043,25.006 C104.450,25.287 106.856,25.568 109.262,25.849 C111.409,26.222 113.668,25.837 115.430,26.480 C117.149,27.108 119.145,29.446 121.807,28.726 C121.807,28.656 121.807,28.586 121.807,28.516 C121.079,27.999 118.635,27.088 118.233,26.480 C117.602,25.525 118.488,24.028 117.392,23.462 C115.909,22.647 112.952,23.619 111.645,22.760 C111.646,20.855 113.483,19.893 114.659,19.110 C115.733,18.394 116.919,17.701 118.303,17.285 C123.649,15.678 128.153,19.597 132.530,20.373 C134.805,20.777 137.325,20.143 139.188,19.671 C139.847,19.505 140.698,19.109 141.501,19.321 C141.501,19.344 141.501,19.367 141.501,19.391 C141.070,20.750 139.504,21.152 139.118,22.690 C138.796,23.974 139.345,25.098 138.418,25.849 C137.295,26.756 135.161,26.803 134.212,27.884 C134.212,27.978 134.212,28.071 134.212,28.165 C135.397,28.736 138.731,29.224 140.029,28.446 C140.777,27.908 141.525,27.369 142.272,26.831 C143.138,26.477 144.523,26.500 145.286,26.199 C145.356,25.966 145.426,25.731 145.496,25.498 C144.974,24.265 143.734,24.088 143.253,22.900 C143.777,21.425 147.073,19.035 149.491,19.601 C150.080,19.739 150.522,20.422 151.173,20.233 C151.905,19.882 152.242,18.969 152.855,18.478 C153.556,17.987 154.257,17.495 154.958,17.004 C156.429,16.302 157.901,15.600 159.373,14.898 C160.261,14.781 161.148,14.664 162.036,14.547 ZM256.090,33.359 C256.988,33.328 257.677,33.397 258.193,33.710 C258.216,33.757 258.239,33.804 258.263,33.851 C258.052,34.599 257.842,35.348 257.632,36.097 C257.274,38.048 259.383,38.917 257.281,40.589 C254.992,42.411 251.901,43.211 248.801,44.239 C247.905,44.536 246.329,45.278 245.227,44.660 C243.324,43.595 242.926,40.618 242.283,38.273 C241.956,37.077 241.216,35.715 241.512,34.412 C244.471,32.348 252.269,34.868 256.090,33.359 ZM340.472,64.034 C337.848,65.513 336.782,68.131 334.375,69.719 C331.829,69.262 331.329,64.760 327.366,65.718 C326.327,67.135 326.164,69.378 325.404,71.123 C324.768,72.583 323.259,73.252 323.231,75.265 C324.049,76.839 326.165,76.721 328.207,77.090 C329.557,77.333 331.454,76.771 332.973,76.528 C336.454,76.481 339.935,76.435 343.416,76.388 C345.287,76.388 348.135,76.830 349.373,76.107 C349.825,72.923 342.245,71.804 340.893,69.790 C339.843,68.226 342.991,65.182 340.893,64.104 C340.752,64.081 340.612,64.057 340.472,64.034 ZM364.021,64.876 C362.594,65.405 361.295,65.256 360.166,65.929 C353.901,69.664 360.737,73.355 362.128,76.598 C362.626,77.757 362.743,79.230 362.969,80.670 C362.993,81.278 363.016,81.886 363.039,82.495 C363.505,83.838 369.670,86.596 372.150,85.653 C373.520,85.133 371.546,82.644 371.169,82.144 C369.584,80.040 364.809,75.779 364.301,73.299 C363.671,70.227 370.873,69.729 371.099,66.280 C370.243,64.642 366.487,64.850 364.021,64.876 ZM297.440,66.491 C297.347,66.631 297.253,66.771 297.160,66.912 C297.417,67.988 297.674,69.064 297.931,70.141 C298.673,71.202 300.360,71.648 301.505,72.317 C303.187,73.346 304.869,74.376 306.551,75.405 C307.236,75.821 310.546,77.807 310.266,78.774 C309.969,79.798 306.873,78.439 306.411,78.353 C306.341,78.423 306.271,78.494 306.201,78.564 C306.569,79.574 307.433,80.181 307.532,81.301 C306.593,83.081 303.544,82.546 302.556,83.828 C301.769,84.851 302.891,86.322 301.084,86.426 C299.839,85.902 298.771,84.667 297.861,83.758 C297.837,82.876 298.068,82.603 298.421,82.144 C300.287,82.099 302.024,81.135 302.977,80.108 C302.915,78.054 300.769,78.577 299.472,77.792 C296.289,75.864 294.059,72.176 290.081,71.053 C289.417,72.317 284.746,72.190 283.003,72.597 C278.873,73.562 279.782,75.552 277.186,77.371 C276.220,78.046 274.474,78.302 274.312,79.757 C274.759,80.421 275.499,81.116 275.644,82.003 C275.869,83.387 274.517,83.703 273.541,83.969 C270.482,84.801 266.815,84.539 264.921,86.496 C265.151,88.359 270.464,88.459 272.420,87.970 C274.513,87.447 276.585,86.875 278.447,86.075 C279.428,85.583 280.410,85.092 281.391,84.601 C283.287,84.025 285.417,84.473 287.698,84.109 C289.520,84.109 291.343,84.109 293.165,84.109 C296.730,84.826 293.197,88.924 294.426,90.848 C295.857,93.086 303.609,95.312 306.691,96.393 C307.923,96.825 309.619,97.733 311.177,97.446 C311.522,96.273 310.518,94.459 311.737,93.585 C312.887,92.762 315.411,93.294 316.713,93.655 C319.069,94.310 321.195,95.061 323.792,95.551 C326.128,95.714 328.465,95.878 330.800,96.042 C332.324,96.285 334.957,97.072 336.057,96.323 C338.258,94.823 339.835,90.239 338.510,86.987 C338.239,86.322 338.146,85.677 337.458,85.443 C336.440,85.096 334.729,85.425 333.814,85.583 C331.310,86.016 325.845,86.209 323.932,85.232 C321.835,84.161 322.818,79.593 321.199,78.002 C320.162,78.010 318.053,78.807 317.695,79.547 C317.415,81.168 321.203,82.856 320.498,84.811 C320.203,85.384 317.002,86.148 315.872,85.864 C314.443,85.505 314.711,83.594 313.700,82.846 C312.666,82.081 311.107,81.904 310.125,81.161 C310.149,81.021 310.172,80.880 310.195,80.740 C310.554,80.024 311.386,79.815 311.597,78.915 C311.832,77.913 310.786,74.641 310.476,73.650 C310.110,72.482 308.372,71.667 307.392,71.053 C305.336,69.765 300.330,66.508 297.440,66.491 ZM501.948,110.502 C505.098,110.392 504.834,116.099 502.859,116.258 C501.376,115.754 498.783,113.357 500.336,111.344 C500.701,110.871 501.381,110.784 501.948,110.502 ZM504.961,123.277 C505.171,123.301 505.382,123.324 505.592,123.347 C507.267,124.179 507.670,128.099 508.115,130.156 C508.312,131.066 508.217,132.163 508.676,132.823 C509.820,133.408 510.965,133.993 512.110,134.578 C514.205,136.034 516.762,138.053 517.787,140.545 C518.044,141.761 518.301,142.978 518.558,144.195 C518.942,145.864 519.706,147.869 518.628,149.249 C515.954,149.750 509.401,146.941 507.765,145.739 C507.809,144.847 508.278,144.607 508.536,143.984 C508.988,142.889 509.061,140.643 508.676,139.422 C508.227,137.998 506.971,137.734 506.223,136.684 C505.078,134.204 503.933,131.724 502.789,129.244 C502.530,128.587 502.249,127.457 502.508,126.576 C502.892,125.273 504.126,124.191 504.961,123.277 ZM498.303,145.248 C500.618,145.471 503.574,149.518 502.789,152.618 C502.547,153.572 501.696,154.390 502.018,156.128 C502.219,157.217 503.700,158.546 503.279,159.708 C502.808,160.810 501.051,161.214 500.336,162.164 C499.400,163.407 498.362,167.883 497.462,168.482 C496.440,169.162 492.868,168.120 491.645,167.920 C489.131,167.509 486.738,168.178 485.618,166.446 C485.131,165.694 483.763,156.823 484.216,155.496 C484.789,153.818 488.049,154.637 489.543,153.882 C493.275,151.993 494.490,147.017 498.303,145.248 ZM508.956,156.549 C511.294,156.546 513.345,157.396 514.212,158.865 C514.329,159.520 514.446,160.176 514.563,160.831 C515.100,161.228 515.638,161.626 516.175,162.024 C516.502,162.515 516.829,163.007 517.156,163.498 C517.343,163.545 517.530,163.592 517.717,163.638 C517.787,163.592 517.857,163.545 517.927,163.498 C518.328,162.128 518.598,159.875 519.329,158.725 C519.469,158.678 519.609,158.631 519.749,158.585 C522.176,159.543 521.314,162.988 522.693,164.972 C522.702,164.972 527.318,163.568 527.318,163.568 C527.342,163.568 527.365,163.568 527.388,163.568 C528.156,162.392 526.958,160.514 529.000,159.988 C532.036,159.207 534.458,165.146 536.359,165.885 C537.406,166.291 538.520,165.038 539.093,164.621 C540.399,163.670 542.013,162.843 544.279,163.428 C547.440,164.244 550.249,165.829 552.549,167.569 C553.867,168.567 554.938,170.372 556.754,170.798 C557.900,171.067 564.644,169.276 565.374,168.833 C566.636,168.067 567.865,166.362 569.790,167.639 C570.477,170.248 564.385,173.182 563.342,175.712 C562.434,177.915 564.059,180.592 563.692,181.468 C561.506,181.352 558.306,178.370 556.824,177.186 C556.117,176.620 555.652,175.696 554.581,175.501 C551.841,175.002 550.351,179.016 548.554,179.432 C547.402,179.699 546.431,178.514 545.821,178.098 C544.559,177.238 543.179,176.379 541.686,175.782 C540.058,175.131 538.314,174.936 537.130,173.887 C537.130,173.746 537.130,173.606 537.130,173.466 C537.565,172.651 540.188,171.338 539.864,170.307 C539.540,169.278 534.729,169.287 533.346,168.973 C530.656,168.362 529.126,167.062 525.987,166.587 C523.254,166.797 520.520,167.008 517.787,167.218 C516.337,166.924 515.125,165.578 513.091,166.095 C511.300,166.551 510.888,168.207 509.517,168.973 C508.536,169.184 507.554,169.394 506.573,169.605 C505.950,169.825 505.186,170.549 504.330,170.237 C503.305,169.717 503.659,166.887 503.910,165.674 C504.916,160.816 504.715,158.341 508.956,156.549 ZM547.082,182.591 C551.493,182.611 550.493,184.296 551.708,187.294 C553.267,191.140 554.043,196.336 555.703,200.209 C557.292,203.918 560.234,206.335 561.450,210.317 C563.034,215.509 561.128,218.703 558.786,221.759 C554.431,227.442 548.301,231.111 542.737,235.587 C540.498,237.388 541.906,238.505 541.125,241.132 C540.325,243.823 537.057,245.180 534.607,246.256 C533.827,246.599 532.337,247.629 531.173,246.888 C529.581,245.874 530.098,242.389 531.734,241.834 C532.648,241.524 533.562,241.773 534.257,241.343 C534.641,241.104 535.101,240.632 534.887,240.009 C534.361,238.974 532.145,239.313 531.173,238.746 C530.865,237.865 530.822,236.249 530.122,235.727 C529.202,235.041 527.481,235.348 526.828,234.394 C525.404,232.314 527.785,229.591 524.515,228.848 C523.688,228.660 522.911,228.752 522.272,229.059 C522.351,227.812 522.447,226.205 521.922,225.339 C520.590,223.141 515.280,223.674 512.320,224.215 C506.310,225.315 499.827,225.448 494.028,226.883 C491.974,227.391 488.195,228.998 486.108,228.497 C485.660,227.837 485.750,226.733 485.408,225.900 C485.024,224.966 483.889,224.623 483.726,223.514 C483.508,222.030 486.840,217.588 487.440,215.862 C488.559,212.643 487.347,209.135 486.669,206.386 C486.221,204.569 486.455,202.669 487.580,201.824 C489.597,200.309 492.846,200.837 495.920,200.279 C498.178,199.871 500.185,199.398 502.018,198.595 C504.718,197.412 506.997,195.213 508.676,192.979 C509.703,191.612 510.565,190.026 512.040,189.119 C512.744,188.685 513.687,188.438 514.633,188.276 C516.284,187.995 519.850,188.790 520.660,187.645 C521.469,186.343 520.962,184.891 522.272,183.924 C523.910,182.716 533.284,182.804 535.168,183.924 C535.594,185.170 535.066,186.716 535.308,188.206 C535.844,191.509 536.870,193.339 539.583,194.453 C540.367,194.775 542.173,195.535 543.087,194.804 C544.291,193.842 543.822,191.203 544.139,189.329 C544.558,186.846 545.319,183.768 547.082,182.591 Z"></path>
               </svg>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="pt-7 pb-7">
   <div class="container">
      <div class="row align-items-lg-end">
         <div class="col-lg-12 col-md-12">
            <div class="contact-form-wrap">
               <div class="text-center">
                  <h2 data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.1s;">Contact Form</h2>
                  <p data-animate="fadeInUp" data-delay=".2" class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.2s;">Fill up the form. Your e-mail will not be published. Required fields are marked by <span class="text-danger font-weight-bold">*</span></p>
               </div>
               <form class="contact-form" method="post" >{% csrf_token %}
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="animation-duration: 0.6s; animation-delay: 0.3s;">
                    <div class="row">
                      <div class="col-sm-6">
                          <label for="contact-first-name">First name *</label>
                          <input type="text" name="fname" placeholder="" required="" class="form-control">
                      </div>
                      <div class="col-sm-6">
                          <label for="contact-first-name">Last name *</label>
                          <input type="text" name="lname" placeholder="" required="" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                    <div class="row">
                      <div class="col-sm-6">
                          <label for="contact-first-name">Email address *</label>
                          <input type="text" name="email" placeholder="" required="" class="form-control">
                      </div>
                      <div class="col-sm-6">
                          <label for="contact-first-name">Telephone (Direct/Mobile) *</label>
                          <input type="text" name="phone"  required="" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".5" style="animation-duration: 0.6s; animation-delay: 0.5s;">
                      <label for="contact-first-name">Company *</label>
                      <input type="text" name="cname" required="" class="form-control">
                    <!-- <input type="text" name="telephone" placeholder="Telephone*" data-parsley-pattern="^[d+-.()/s]*$" data-parsley-minlength="10" data-parsley-minlength-message="Minimum 10 characters." required="" class="form-control"> -->
                  </div>
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".6" style="animation-duration: 0.6s; animation-delay: 0.6s;">
                      <label for="contact-first-name">Company Type *</label>
                      {{form.ctype}}
                  </div>
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".7" style="animation-duration: 0.6s; animation-delay: 0.7s;">
                      <label for="contact-first-name">Country *</label>
                      {{form.country}}
                  </div>
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".7" style="animation-duration: 0.6s; animation-delay: 0.7s;">
                      <label for="contact-first-name">Deadline *</label>
                      <input type="text" name="deadline" placeholder="EX: 2018-08-19T15:00:00 *" required="" class="form-control">
                  </div>
                  <div class="position-relative animated fadeInUp" data-animate="fadeInUp" data-delay=".7" style="animation-duration: 0.6s; animation-delay: 0.7s;">
                    <textarea name="message" placeholder="Write message*" required="" class="form-control"></textarea>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LcYsGkUAAAAAP0pnpXp5vUwCuu95c0OADPnGHeG"></div>
                  <button class="btn btn-primary btn-square btn-block animated fadeInUp" data-animate="fadeInUp" data-delay=".8" type="submit" style="animation-duration: 0.6s; animation-delay: 0.8s;">Send message</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock main_container %}
