{% extends 'master.html' %}
{% load static fb_versions %}


{% block main_container %}

<section class="position-relative bg-light pt-4 pb-4">
   <div id="particles_js">
      <canvas class="particles-js-canvas-el" width="1905" height="610" style="width: 100%; height: 100%;"></canvas>
   </div>
   <div class="container">
      <div class="row align-items-center">
        <div class="swiper-container">
   <div class="swiper-wrapper">
     <div class="swiper-slide"><img src="{{STATIC_URL}}images/slide/slide1.jpg"></div>
     <div class="swiper-slide"><img src="{{STATIC_URL}}images/slide/slide2.jpg"></div>
     <div class="swiper-slide"><img src="{{STATIC_URL}}images/slide/slide3.jpg"></div>
     <div class="swiper-slide"><img src="{{STATIC_URL}}images/slide/slide4.png"></div>
   </div>
   <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
   <!-- Add Arrows -->
   <div class="swiper-button-next"></div>
   <div class="swiper-button-prev"></div>
 </div>
      </div>
   </div>
</section>
<section class="pt-7 pb-5-5">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="single-feature text-center animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" class="svg replaced-svg" viewBox="0 0 80px 80px">
                 <path fill-rule="evenodd" fill="rgb(93, 189, 83)" d="M65.724,65.119 C59.034,71.747 50.316,75.633 40.957,76.213 L43.102,78.338 L41.425,80.000 L36.497,75.117
                 L41.425,70.235 L43.102,71.896 L41.133,73.846 C46.403,73.468 51.363,71.967 55.769,69.581 L53.313,65.440 L55.357,64.249 L57.811,68.386 C62.299,65.563 66.118,61.788
                 68.978,57.348 L64.807,54.907 L66.014,52.884 L70.187,55.327 C72.838,50.547 74.418,45.105 74.607,39.320 L69.755,39.320 L69.755,36.971 L74.607,36.971 C74.419,31.215
                 72.854,25.799 70.227,21.036 L66.047,23.469 L64.846,21.443 L69.022,19.012 C66.172,14.566 62.362,10.781 57.881,7.949 L55.417,12.080 L53.376,10.885 L55.841,6.750
                 C51.016,4.124 45.524,2.558 39.686,2.371 L39.686,7.178 L37.314,7.178 L37.314,2.370 C31.506,2.557 26.039,4.107 21.231,6.710 L23.688,10.851 L21.643,12.042
                 L19.189,7.905 C14.702,10.728 10.882,14.503 8.023,18.942 L12.193,21.383 L10.987,23.407 L6.814,20.964 C4.162,25.744 2.582,31.186 2.393,36.970 L7.245,36.970
                 L7.245,39.320 L2.392,39.320 C2.545,44.077 3.625,48.669 5.612,52.985 L3.454,53.960 C1.162,48.981 -0.000,43.660 -0.000,38.146 C-0.000,27.957 4.004,18.377
                 11.276,11.172 C18.548,3.967 28.216,-0.000 38.500,-0.000 C48.784,-0.000 58.452,3.967 65.724,11.172 C72.995,18.377 77.000,27.957 77.000,38.146 C77.000,48.335
                 72.995,57.914 65.724,65.119 ZM13.634,47.142 L15.857,46.324 L18.399,53.100 L16.176,53.918 L13.634,47.142 ZM2.904,70.730 C3.227,70.156 3.664,69.624 4.215,69.135
                 C4.766,68.646 5.459,68.165 6.295,67.695 C7.188,67.206 7.933,66.801 8.532,66.481 C9.130,66.161 9.605,65.879 9.956,65.634 C10.308,65.390 10.559,65.168 10.711,64.971
                 C10.863,64.773 10.939,64.543 10.939,64.279 C10.939,63.752 10.749,63.328 10.370,63.008 C9.989,62.689 9.448,62.529 8.745,62.529 C7.948,62.529 7.254,62.722
                 6.666,63.107 C6.076,63.493 5.507,63.997 4.956,64.618 L2.049,61.287 C2.353,60.948 2.762,60.618 3.275,60.298 C3.787,59.979 4.367,59.692 5.013,59.437 C5.658,59.183
                 6.366,58.981 7.136,58.830 C7.905,58.680 8.707,58.604 9.543,58.604 C11.595,58.604 13.166,59.047 14.259,59.931 C15.351,60.816 15.898,62.011 15.898,63.517
                 C15.898,64.138 15.798,64.693 15.598,65.182 C15.399,65.672 15.137,66.110 14.815,66.495 C14.491,66.881 14.131,67.220 13.732,67.511 C13.333,67.803 12.924,68.072
                 12.507,68.316 C12.222,68.485 11.880,68.683 11.481,68.909 C11.082,69.135 10.687,69.366 10.298,69.600 C9.909,69.836 9.548,70.071 9.215,70.306 C8.883,70.542
                 8.632,70.754 8.460,70.942 L16.211,70.942 L16.211,75.007 L2.021,75.007 C2.021,74.122 2.087,73.332 2.220,72.635 C2.353,71.939 2.581,71.304 2.904,70.730
                 ZM28.425,53.465 L31.463,46.893 L33.620,47.871 L30.581,54.444 L28.425,53.465 ZM30.902,58.886 L30.902,70.659 L33.410,70.659 L33.410,74.724 L30.902,74.724
                 L30.902,78.593 L26.343,78.593 L26.343,74.724 L18.507,74.724 L18.507,70.687 L27.796,58.886 L30.902,58.886 ZM26.885,65.662 L23.010,70.659 L26.885,70.659
                 L26.885,65.662 ZM45.074,61.411 L38.236,63.930 L37.409,61.727 L44.248,59.209 L45.074,61.411 ZM37.314,33.482 L37.314,12.392 L39.686,12.392 L39.686,33.483
                 C41.411,33.913 42.772,35.262 43.206,36.971 L57.317,36.971 L57.317,39.320 L43.206,39.320 C42.676,41.406 40.767,42.954 38.500,42.954 C35.824,42.954
                 33.646,40.797 33.646,38.146 C33.646,35.899 35.209,34.008 37.314,33.482 ZM38.500,40.604 C39.868,40.604 40.982,39.502 40.982,38.146 C40.982,36.790
                 39.868,35.687 38.500,35.687 C37.132,35.687 36.018,36.790 36.018,38.146 C36.018,39.502 37.132,40.604 38.500,40.604 Z"></path>
               </svg>
               <h3>Services</h3>
               <p>Telecom Inspiration provides tailored telecom asset management services for your network requirements with an effective solution.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="single-feature text-center animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="animation-duration: 0.6s; animation-delay: 0.3s;">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="77px" height="80px" class="svg replaced-svg" viewBox="0 0 80px 77px">
                 <path fill-rule="evenodd" fill="rgb(85, 92, 85)" d="M68.284,68.284 C60.729,75.838 50.684,80.000 40.000,80.000 C33.302,80.000 26.675,78.311 20.834,75.118
                 C20.282,74.816 20.079,74.123 20.381,73.571 C20.683,73.018 21.376,72.815 21.928,73.117 C27.434,76.128 33.683,77.720 40.000,77.720 C50.075,77.720 59.548,73.796
                 66.672,66.672 C73.797,59.547 77.720,50.075 77.720,39.999 C77.720,28.541 72.600,17.837 63.674,10.632 C63.184,10.236 63.107,9.519 63.503,9.028 C63.898,8.539
                 64.616,8.463 65.105,8.858 C74.571,16.498 80.000,27.848 80.000,39.999 C80.000,50.684 75.839,60.728 68.284,68.284 ZM65.899,14.100 C66.345,14.545 66.345,15.267
                 65.899,15.712 L64.606,17.006 C64.383,17.228 64.092,17.339 63.800,17.339 C63.508,17.339 63.216,17.228 62.994,17.006 C62.549,16.560 62.549,15.839 62.994,15.394
                 L64.287,14.100 C64.732,13.655 65.454,13.655 65.899,14.100 ZM72.497,55.396 C72.344,55.396 72.189,55.365 72.040,55.300 L70.364,54.565 C69.788,54.312 69.526,53.640
                 69.779,53.063 C70.032,52.486 70.704,52.225 71.280,52.478 L72.956,53.212 C73.532,53.465 73.795,54.138 73.541,54.714 C73.354,55.142 72.936,55.396 72.497,55.396
                 ZM71.770,28.828 C71.634,28.881 71.494,28.906 71.356,28.906 C70.900,28.906 70.470,28.631 70.294,28.180 C70.065,27.594 70.355,26.933 70.942,26.704 L72.646,26.039
                 C73.233,25.811 73.893,26.100 74.122,26.687 C74.351,27.273 74.061,27.934 73.475,28.163 L71.770,28.828 ZM76.627,39.999 C76.627,40.629 76.117,41.139 75.487,41.139
                 L73.658,41.139 C73.028,41.139 72.518,40.629 72.518,39.999 C72.518,39.370 73.028,38.859 73.658,38.859 L75.487,38.859 C76.117,38.859 76.627,39.370 76.627,39.999
                 ZM64.606,62.993 L65.899,64.286 C66.344,64.732 66.344,65.454 65.899,65.899 C65.677,66.121 65.385,66.233 65.093,66.233 C64.802,66.233 64.510,66.121 64.287,65.899
                 L62.994,64.605 C62.549,64.160 62.549,63.438 62.994,62.993 C63.439,62.548 64.161,62.548 64.606,62.993 ZM53.295,70.942 L53.960,72.646 C54.189,73.232 53.899,73.893
                 53.313,74.122 C53.176,74.175 53.036,74.200 52.899,74.200 C52.443,74.200 52.012,73.925 51.836,73.475 L51.171,71.770 C50.942,71.183 51.232,70.522 51.819,70.294
                 C52.406,70.065 53.066,70.355 53.295,70.942 ZM41.140,73.658 L41.140,75.487 C41.140,76.117 40.630,76.627 40.000,76.627 C39.370,76.627 38.860,76.117 38.860,75.487
                 L38.860,73.658 C38.860,73.028 39.370,72.518 40.000,72.518 C40.630,72.518 41.140,73.028 41.140,73.658 ZM26.936,69.778 C27.512,70.031 27.775,70.703 27.522,71.280
                 L26.787,72.955 C26.599,73.383 26.181,73.637 25.742,73.637 C25.589,73.637 25.434,73.606 25.285,73.541 C24.709,73.288 24.446,72.616 24.699,72.039 L25.434,70.364
                 C25.687,69.787 26.359,69.525 26.936,69.778 ZM62.266,62.266 C56.319,68.214 48.411,71.489 40.000,71.489 C31.589,71.489 23.681,68.213 17.734,62.266 C5.456,49.988
                 5.456,30.011 17.734,17.733 C23.681,11.785 31.589,8.510 40.000,8.510 C48.411,8.510 56.319,11.785 62.266,17.733 C74.544,30.011 74.544,49.988 62.266,62.266
                 ZM60.654,19.345 C55.137,13.828 47.802,10.790 40.000,10.790 C32.198,10.790 24.862,13.828 19.346,19.345 C7.957,30.734 7.957,49.265 19.346,60.654 C24.862,66.171
                 32.198,69.209 40.000,69.209 C47.802,69.209 55.137,66.171 60.654,60.654 C72.043,49.265 72.043,30.734 60.654,19.345 ZM50.870,39.650 C53.478,42.076 54.747,45.217
                 54.747,49.252 C54.747,53.134 53.620,56.314 51.399,58.704 C49.544,60.701 46.934,62.067 43.808,62.686 L43.808,62.739 C43.809,64.717 42.200,66.326 40.222,66.326
                 C38.297,66.326 36.721,64.801 36.639,62.896 C29.782,62.046 25.253,58.120 25.253,54.754 C25.253,52.662 27.016,50.136 29.206,50.136 C30.383,50.136 31.275,50.894
                 32.308,51.771 C33.373,52.678 34.654,53.767 36.635,54.390 L36.635,42.204 C32.463,40.658 26.341,37.954 26.341,29.963 C26.341,23.682 30.077,19.334 36.635,17.909
                 L36.635,17.774 C36.635,15.797 38.244,14.188 40.222,14.188 C42.102,14.188 43.649,15.643 43.797,17.486 C45.879,17.642 47.909,18.041 49.499,18.614 C52.937,19.854
                 53.658,21.655 53.658,22.948 C53.658,24.836 52.293,27.566 49.826,27.566 C48.987,27.566 48.257,27.202 47.413,26.779 C46.501,26.323 45.411,25.778 43.809,25.490
                 L43.809,35.645 C46.328,36.610 48.870,37.790 50.870,39.650 ZM41.840,23.303 C42.079,23.082 42.401,22.969 42.726,22.994 C45.508,23.206 47.215,24.059 48.461,24.683
                 C49.040,24.973 49.540,25.222 49.826,25.222 C50.752,25.222 51.315,23.643 51.315,22.948 C51.315,21.376 47.323,19.920 42.599,19.767 C41.967,19.747 41.465,19.229
                 41.465,18.597 L41.465,17.774 C41.465,17.088 40.907,16.531 40.222,16.531 C39.537,16.531 38.979,17.088 38.979,17.774 L38.979,18.878 C38.979,19.451 38.565,19.939
                 38.000,20.034 C35.292,20.484 33.032,21.493 31.463,22.951 C29.620,24.665 28.685,27.023 28.685,29.962 C28.685,36.296 33.189,38.458 38.208,40.283 C38.671,40.452
                 38.979,40.892 38.979,41.385 L38.979,55.874 C38.979,56.219 38.827,56.547 38.563,56.770 C38.299,56.992 37.950,57.088 37.609,57.029 C34.181,56.440 32.221,54.774
                 30.789,53.557 C30.166,53.027 29.522,52.479 29.206,52.479 C28.514,52.479 27.597,53.776 27.597,54.754 C27.597,55.757 28.623,57.105 30.212,58.188 C32.241,59.570
                 34.969,60.450 37.893,60.665 C38.506,60.710 38.979,61.220 38.979,61.834 L38.979,62.739 C38.979,63.425 39.537,63.983 40.222,63.983 C40.907,63.983 41.465,63.425
                 41.465,62.739 L41.465,61.697 C41.465,61.114 41.894,60.620 42.471,60.537 C48.876,59.624 52.403,55.616 52.403,49.251 C52.403,45.904 51.379,43.324 49.274,41.366
                 C47.279,39.512 44.592,38.427 42.231,37.557 C41.771,37.387 41.465,36.948 41.465,36.457 L41.465,24.163 C41.465,23.836 41.601,23.525 41.840,23.303 ZM37.807,35.829
                 C37.648,35.829 37.488,35.796 37.337,35.730 C35.747,35.034 34.686,34.335 33.898,33.468 C32.896,32.364 32.388,30.981 32.388,29.357 C32.388,26.398 34.208,24.296
                 37.513,23.437 C37.864,23.346 38.237,23.422 38.524,23.644 C38.811,23.866 38.979,24.209 38.979,24.571 L38.979,34.657 C38.979,35.052 38.780,35.421 38.449,35.637
                 C38.255,35.764 38.032,35.829 37.807,35.829 ZM36.635,26.256 C34.732,27.263 34.732,28.790 34.732,29.357 C34.732,30.819 35.273,31.829 36.635,32.721 L36.635,26.256
                 ZM43.121,42.266 C45.718,43.445 48.700,45.379 48.700,49.917 C48.700,53.597 46.640,56.097 42.899,56.955 C42.812,56.975 42.724,56.984 42.637,56.984 C42.374,56.984
                 42.116,56.897 41.906,56.729 C41.627,56.507 41.465,56.170 41.465,55.813 L41.465,43.334 C41.465,42.935 41.667,42.565 42.002,42.349 C42.337,42.134 42.758,42.102
                 43.121,42.266 ZM43.809,54.192 C45.520,53.398 46.356,51.988 46.356,49.917 C46.356,47.639 45.384,46.298 43.809,45.282 L43.809,54.192 ZM54.715,6.458 C55.291,6.711
                 55.554,7.383 55.301,7.959 L54.566,9.635 C54.378,10.063 53.960,10.317 53.521,10.317 C53.368,10.317 53.213,10.286 53.064,10.221 C52.487,9.968 52.225,9.296
                 52.478,8.719 L53.213,7.044 C53.466,6.467 54.138,6.206 54.715,6.458 ZM41.140,4.512 L41.140,6.342 C41.140,6.971 40.630,7.482 40.000,7.482 C39.370,7.482 38.860,6.971
                 38.860,6.342 L38.860,4.512 C38.860,3.883 39.370,3.372 40.000,3.372 C40.630,3.372 41.140,3.883 41.140,4.512 ZM28.164,6.524 L28.829,8.229 C29.058,8.815 28.768,9.476
                 28.181,9.705 C28.045,9.758 27.905,9.784 27.767,9.784 C27.311,9.784 26.881,9.508 26.705,9.058 L26.040,7.353 C25.811,6.767 26.101,6.106 26.687,5.877 C27.274,5.649
                 27.935,5.938 28.164,6.524 ZM15.712,14.100 L17.006,15.394 C17.451,15.839 17.451,16.560 17.006,17.006 C16.784,17.228 16.492,17.339 16.200,17.339 C15.908,17.339
                 15.617,17.228 15.394,17.006 L14.101,15.712 C13.655,15.267 13.655,14.545 14.101,14.100 C14.546,13.655 15.267,13.655 15.712,14.100 ZM9.706,51.819 C9.935,52.405
                 9.644,53.066 9.058,53.295 L7.354,53.960 C7.218,54.013 7.077,54.038 6.940,54.038 C6.484,54.038 6.053,53.762 5.877,53.312 C5.648,52.726 5.939,52.065 6.525,51.836
                 L8.229,51.171 C8.816,50.943 9.477,51.232 9.706,51.819 ZM7.482,39.999 C7.482,40.629 6.972,41.139 6.342,41.139 L4.512,41.139 C3.883,41.139 3.373,40.629 3.373,39.999
                 C3.373,39.370 3.883,38.859 4.512,38.859 L6.342,38.859 C6.972,38.859 7.482,39.370 7.482,39.999 ZM7.960,24.699 L9.636,25.434 C10.212,25.687 10.474,26.359 10.221,26.936
                 C10.034,27.363 9.616,27.617 9.177,27.617 C9.024,27.617 8.869,27.587 8.720,27.522 L7.044,26.786 C6.468,26.533 6.205,25.860 6.458,25.284 C6.712,24.708 7.384,24.446
                 7.960,24.699 ZM57.816,6.743 C52.377,3.823 46.216,2.279 40.000,2.279 C29.924,2.279 20.452,6.203 13.328,13.327 C6.203,20.452 2.280,29.924 2.280,39.999 C2.280,51.337
                 7.312,61.970 16.085,69.172 C16.572,69.571 16.643,70.289 16.243,70.776 C16.018,71.050 15.691,71.193 15.362,71.193 C15.107,71.193 14.851,71.108 14.639,70.934
                 C5.336,63.298 -0.000,52.022 -0.000,39.999 C-0.000,29.315 4.161,19.270 11.716,11.715 C19.271,4.160 29.316,-0.000 40.000,-0.000 C46.591,-0.000 53.125,1.637
                 58.895,4.735 C59.449,5.033 59.658,5.724 59.360,6.278 C59.062,6.833 58.371,7.041 57.816,6.743 ZM14.907,66.233 C14.615,66.233 14.323,66.121 14.101,65.899
                 C13.655,65.454 13.655,64.732 14.101,64.286 L15.394,62.993 C15.839,62.548 16.561,62.548 17.006,62.993 C17.451,63.438 17.451,64.160 17.006,64.605 L15.712,65.899
                 C15.490,66.121 15.198,66.233 14.907,66.233 Z"></path>

               </svg>
               <h3>Products</h3>
               <p>We provide wide range of Telecom Network Equipment including Data Center Switches, Coaxial Cables, Maintenance Spares, DC Power Supply, Radio, Core, and Transmission Microwave Equipment.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="single-feature text-center animated fadeInUp" data-animate="fadeInUp" data-delay=".5" style="animation-duration: 0.6s; animation-delay: 0.5s;">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" class="svg replaced-svg" viewBox="0 0 80px 80px">
                 <path fill-rule="evenodd" fill="rgb(255, 108, 0)" d="M68.284,68.283 C60.729,75.837 50.684,79.998 40.000,79.998 C29.315,79.998 19.271,75.837 11.715,68.283
                 C4.160,60.727 -0.000,50.683 -0.000,39.997 C-0.000,29.312 4.160,19.268 11.715,11.713 C19.271,4.158 29.315,-0.002 40.000,-0.002 C50.684,-0.002 60.729,4.158
                 68.284,11.713 C75.839,19.268 80.000,29.312 80.000,39.997 C80.000,50.683 75.839,60.727 68.284,68.283 ZM40.000,2.346 C19.239,2.346 2.348,19.237 2.348,39.997
                 C2.348,60.760 19.239,77.649 40.000,77.649 C60.761,77.649 77.652,60.760 77.652,39.997 C77.652,19.237 60.761,2.346 40.000,2.346 ZM55.540,45.654 C55.762,45.044
                 56.435,44.730 57.046,44.953 L63.703,47.375 C64.220,47.564 64.544,48.104 64.463,48.649 C64.379,49.219 63.877,49.654 63.301,49.654 C63.168,49.654 63.033,49.631
                 62.900,49.582 L56.242,47.160 C55.633,46.937 55.319,46.264 55.540,45.654 ZM56.704,58.363 L51.694,53.352 C51.235,52.895 51.235,52.150 51.694,51.692 C52.153,51.233
                 52.896,51.233 53.355,51.692 L58.364,56.701 C58.792,57.129 58.820,57.836 58.427,58.294 C57.988,58.808 57.181,58.839 56.704,58.363 ZM40.052,66.220 L40.000,66.221
                 C25.540,66.221 13.776,54.457 13.776,39.997 C13.776,25.538 25.540,13.774 40.000,13.774 C46.976,13.774 53.541,16.483 58.488,21.402 C63.432,26.318 66.178,32.864
                 66.221,39.834 C66.222,40.147 66.100,40.447 65.879,40.670 C65.659,40.890 65.359,41.015 65.047,41.015 L58.784,41.015 C58.140,41.015 57.616,40.495 57.610,39.850
                 C57.531,30.220 49.631,22.385 40.000,22.385 C30.288,22.385 22.387,30.287 22.387,39.997 C22.387,49.709 30.287,57.609 39.998,57.610 L40.052,57.609 C40.701,57.609
                 41.226,58.135 41.226,58.784 L41.226,65.045 C41.226,65.695 40.701,66.220 40.052,66.220 ZM38.877,59.928 C28.391,59.344 20.039,50.629 20.039,39.997 C20.039,28.991
                 28.993,20.036 40.000,20.036 C45.302,20.036 50.295,22.094 54.059,25.829 C57.543,29.287 59.598,33.809 59.916,38.667 L63.836,38.667 C63.142,26.131 52.687,16.123
                 40.000,16.123 C26.835,16.123 16.125,26.833 16.125,39.997 C16.125,52.786 26.232,63.259 38.877,63.847 L38.877,59.928 ZM45.656,55.539 C46.266,55.316 46.939,55.631
                 47.161,56.241 L49.584,62.898 C49.791,63.467 49.517,64.121 48.964,64.370 C48.349,64.646 47.608,64.333 47.378,63.701 L44.955,57.043 C44.733,56.434 45.047,55.760
                 45.656,55.539 ZM40.000,44.930 C37.281,44.930 35.068,42.716 35.068,39.997 C35.068,37.585 36.811,35.572 39.104,35.149 L39.850,32.946 C39.909,32.768 40.011,32.608
                 40.145,32.477 L46.698,26.138 C47.077,25.772 47.671,25.705 48.122,25.977 C48.558,26.239 48.777,26.773 48.654,27.267 L46.439,36.113 C46.394,36.294 46.306,36.460
                 46.182,36.602 L44.647,38.349 C44.831,38.865 44.932,39.420 44.932,39.997 C44.932,42.716 42.719,44.930 40.000,44.930 ZM40.000,37.414 C38.576,37.414 37.417,38.573
                 37.417,39.997 C37.417,41.422 38.575,42.581 40.000,42.581 C41.424,42.581 42.583,41.422 42.583,39.997 C42.583,38.573 41.424,37.414 40.000,37.414 ZM45.378,30.683
                 L41.983,33.967 L41.529,35.311 C42.189,35.526 42.788,35.877 43.293,36.331 L44.230,35.265 L45.378,30.683 ZM63.856,63.853 C57.484,70.225 49.011,73.736 40.000,73.736
                 C30.988,73.736 22.516,70.225 16.143,63.853 C9.771,57.482 6.262,49.009 6.262,39.997 C6.262,30.986 9.771,22.514 16.143,16.142 C22.516,9.769 30.988,6.260 40.000,6.260
                 C46.538,6.260 52.880,8.134 58.341,11.677 C58.885,12.031 59.040,12.757 58.687,13.300 C58.334,13.844 57.606,14.000 57.063,13.646 C51.984,10.350 46.083,8.608
                 40.000,8.608 C22.692,8.608 8.610,22.690 8.610,39.997 C8.610,57.305 22.692,71.387 40.000,71.387 C57.308,71.387 71.389,57.307 71.389,39.997 C71.389,31.319
                 67.926,23.242 61.637,17.256 C61.167,16.810 61.149,16.067 61.596,15.597 C62.043,15.127 62.786,15.109 63.256,15.556 C66.533,18.674 69.110,22.348 70.917,26.474
                 C72.789,30.747 73.737,35.297 73.737,39.997 C73.737,49.009 70.228,57.482 63.856,63.853 Z"></path>
               </svg>
               <h3>Industries</h3>
               <p>We work with client from wide range of industries including Telecommunication, Oil & Gas, Utilities, Education, Data Centres, Internet Service Providers, Government and Retail.</p>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="services-title position-relative pt-7" data-bg-img="img/buildings.jpg" style="background: url(&quot;img/buildings.jpg&quot;) center top;">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
               <div class="section-title text-center">
                  <h2 class="text-white" data-animate="fadeInUp" data-delay=".1">Our Products</h2>
                  <p class="text-white" data-animate="fadeInUp" data-delay=".3"></p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="services-wrap bg-white position-relative pt-5 pb-5">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".05">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33px" height="40px" class="svg replaced-svg" viewBox="0 0 40px 33px">
                     <path fill-rule="evenodd" fill="rgb(255, 108, 0)" d="M27.578,40.000 L5.422,40.000 C2.432,40.000 -0.000,37.598 -0.000,34.645 L-0.000,20.170 C-0.000,17.527
                     1.949,15.332 4.500,14.898 L4.500,10.740 C4.500,4.818 9.883,-0.001 16.500,-0.001 C23.116,-0.001 28.500,4.818 28.500,10.740 L28.500,14.898 C31.051,15.332
                     33.000,17.527 33.000,20.169 L33.000,34.645 C33.000,37.598 30.568,40.000 27.578,40.000 ZM27.000,10.740 C27.000,5.635 22.290,1.481 16.500,1.481 C10.710,1.481
                     6.000,5.635 6.000,10.740 L6.000,14.814 L27.000,14.814 L27.000,10.740 ZM31.500,20.169 C31.500,18.033 29.740,16.296 27.578,16.296 L5.422,16.296 C3.259,16.296
                     1.500,18.033 1.500,20.169 L1.500,34.645 C1.500,36.780 3.259,38.518 5.422,38.518 L27.578,38.518 C29.740,38.518 31.500,36.780 31.500,34.645 L31.500,20.169
                     ZM16.500,31.111 C14.845,31.111 13.500,29.782 13.500,28.148 L13.500,23.703 C13.500,22.069 14.845,20.740 16.500,20.740 C18.154,20.740 19.500,22.069 19.500,23.703
                     L19.500,28.148 C19.500,29.782 18.154,31.111 16.500,31.111 ZM18.000,23.703 C18.000,22.886 17.327,22.222 16.500,22.222 C15.673,22.222 15.000,22.886 15.000,23.703
                     L15.000,28.148 C15.000,28.965 15.673,29.629 16.500,29.629 C17.327,29.629 18.000,28.965 18.000,28.148 L18.000,23.703 Z"></path>
                  </svg>
                  <h4>Data Network Solutions</h4>
                  <span>With outstanding products and services with knowledgeable and respected channel partners.</span>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".1">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" class="svg replaced-svg" viewBox="0 0 40px 40px">
                     <path fill-rule="evenodd" fill="rgb(93, 189, 83)" d="M34.142,34.141 C30.364,37.918 25.342,39.998 20.000,39.998 C14.658,39.998 9.635,37.918 5.858,34.141 C2.080,30.363
                     -0.000,25.341 -0.000,19.998 C-0.000,14.656 2.080,9.634 5.858,5.856 C9.635,2.079 14.658,-0.001 20.000,-0.001 C25.342,-0.001 30.364,2.079 34.142,5.856 C37.920,9.634
                     40.000,14.656 40.000,19.998 C40.000,25.341 37.920,30.363 34.142,34.141 ZM20.000,1.173 C9.619,1.173 1.174,9.618 1.174,19.998 C1.174,30.379 9.619,38.825 20.000,38.825
                     C30.381,38.825 38.826,30.379 38.826,19.998 C38.826,9.618 30.381,1.173 20.000,1.173 ZM27.770,22.827 C27.881,22.522 28.218,22.365 28.523,22.476 L31.851,23.687
                     C32.110,23.782 32.272,24.052 32.232,24.324 C32.189,24.609 31.938,24.827 31.651,24.827 C31.584,24.827 31.516,24.815 31.450,24.791 L28.121,23.579 C27.817,23.468
                     27.659,23.131 27.770,22.827 ZM28.352,29.181 L25.847,26.676 C25.618,26.447 25.618,26.075 25.847,25.846 C26.076,25.616 26.448,25.616 26.677,25.846 L29.182,28.350
                     C29.396,28.564 29.410,28.917 29.213,29.146 C28.994,29.403 28.591,29.419 28.352,29.181 ZM20.026,33.110 L20.000,33.110 C12.770,33.110 6.888,27.228 6.888,19.998
                     C6.888,12.768 12.770,6.887 20.000,6.887 C23.488,6.887 26.771,8.241 29.244,10.700 C31.716,13.158 33.089,16.431 33.111,19.917 C33.111,20.073 33.050,20.223
                     32.940,20.334 C32.830,20.444 32.680,20.507 32.523,20.507 L29.392,20.507 C29.070,20.507 28.808,20.247 28.805,19.925 C28.766,15.110 24.816,11.192 20.000,11.192
                     C15.144,11.192 11.194,15.143 11.194,19.998 C11.194,24.854 15.144,28.804 19.999,28.805 L20.026,28.804 C20.350,28.804 20.613,29.067 20.613,29.392 L20.613,32.522
                     C20.613,32.847 20.350,33.110 20.026,33.110 ZM19.439,29.963 C14.195,29.671 10.019,25.314 10.019,19.998 C10.019,14.495 14.497,10.017 20.000,10.017 C22.651,10.017
                     25.148,11.046 27.030,12.914 C28.771,14.643 29.799,16.904 29.958,19.333 L31.918,19.333 C31.571,13.065 26.343,8.061 20.000,8.061 C13.418,8.061 8.063,13.416
                     8.063,19.998 C8.063,26.392 13.116,31.629 19.439,31.923 L19.439,29.963 ZM22.828,27.769 C23.133,27.657 23.470,27.815 23.581,28.120 L24.792,31.448 C24.896,31.733
                     24.758,32.060 24.482,32.185 C24.174,32.323 23.804,32.166 23.689,31.850 L22.477,28.521 C22.366,28.217 22.523,27.879 22.828,27.769 ZM20.000,22.464 C18.640,22.464
                     17.534,21.358 17.534,19.998 C17.534,18.792 18.406,17.785 19.552,17.574 L19.925,16.473 C19.955,16.384 20.005,16.303 20.073,16.238 L23.349,13.068 C23.538,12.886
                     23.835,12.852 24.061,12.988 C24.279,13.119 24.389,13.386 24.327,13.633 L23.220,18.056 C23.197,18.146 23.153,18.230 23.091,18.300 L22.323,19.174 C22.415,19.432
                     22.466,19.710 22.466,19.998 C22.466,21.358 21.359,22.464 20.000,22.464 ZM20.000,18.706 C19.288,18.706 18.708,19.286 18.708,19.998 C18.708,20.710 19.288,21.290
                     20.000,21.290 C20.712,21.290 21.292,20.710 21.292,19.998 C21.292,19.286 20.712,18.706 20.000,18.706 ZM22.689,15.341 L20.991,16.983 L20.764,17.655 C21.094,17.763
                     21.394,17.938 21.647,18.165 L22.115,17.632 L22.689,15.341 ZM31.928,31.926 C28.742,35.112 24.506,36.868 20.000,36.868 C15.494,36.868 11.258,35.112 8.072,31.926
                     C4.886,28.740 3.131,24.504 3.131,19.998 C3.131,15.492 4.886,11.256 8.072,8.070 C11.258,4.884 15.494,3.129 20.000,3.129 C23.269,3.129 26.440,4.067 29.171,5.838
                     C29.442,6.015 29.520,6.378 29.343,6.650 C29.167,6.922 28.803,6.999 28.531,6.823 C25.992,5.175 23.042,4.304 20.000,4.304 C11.346,4.304 4.305,11.344 4.305,19.998
                     C4.305,28.652 11.346,35.693 20.000,35.693 C28.654,35.693 35.695,28.653 35.695,19.998 C35.695,15.659 33.963,11.621 30.818,8.628 C30.584,8.405 30.574,8.033
                     30.798,7.798 C31.021,7.563 31.393,7.554 31.628,7.778 C33.266,9.337 34.555,11.174 35.459,13.237 C36.394,15.373 36.869,17.648 36.869,19.998 C36.869,24.504
                     35.114,28.740 31.928,31.926 Z"></path>
                  </svg>
                  <h4>Cables, Cable Assemblies and Site Installation Tools</h4>
                  <span>We supply Coaxial Radio Frequency (RF) Cables and Connectors such as RG Cables and  Leaky feeder Cables.</span>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".15">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="40px" class="svg replaced-svg" viewBox="0 0 40px 38px">
                     <path fill-rule="evenodd" fill="rgb(85, 92, 85)" d="M37.374,28.642 L32.809,28.642 C30.864,30.922 28.225,32.473 25.305,33.058 L25.305,36.074 L26.015,36.074
                     C26.361,36.074 26.642,36.355 26.642,36.701 L26.642,39.373 C26.642,39.719 26.361,40.000 26.015,40.000 L24.679,40.000 L1.963,40.000 L0.626,40.000 C0.280,40.000
                     -0.000,39.719 -0.000,39.373 L-0.000,36.701 C-0.000,36.355 0.280,36.074 0.626,36.074 L1.336,36.074 L1.336,20.000 C1.336,19.654 1.617,19.373 1.963,19.373
                     L9.368,19.373 C9.422,18.204 9.628,17.057 9.982,15.949 L3.967,15.949 C3.621,15.949 3.341,15.669 3.341,15.323 L3.341,0.626 C3.341,0.280 3.621,-0.001 3.967,-0.001
                     L20.002,-0.001 L24.011,-0.001 C24.357,-0.001 24.637,0.280 24.637,0.626 L24.637,6.826 C26.473,7.099 28.254,7.760 29.819,8.757 C31.405,9.766 32.779,11.122 33.812,12.693
                     L37.374,12.693 C37.720,12.693 38.000,12.973 38.000,13.319 L38.000,24.007 L38.000,28.016 C38.000,28.362 37.719,28.642 37.374,28.642 ZM1.253,37.327 L1.253,38.747
                     L1.963,38.747 L24.679,38.747 L25.389,38.747 L25.389,37.327 L24.679,37.327 L1.963,37.327 L1.253,37.327 ZM9.980,20.626 L2.589,20.626 L2.589,36.074 L24.053,36.074
                     L24.053,32.534 L24.053,20.626 L9.980,20.626 ZM19.376,7.589 L19.376,1.252 L4.593,1.252 L4.593,14.697 L10.870,14.697 L19.376,14.697 L19.376,7.589 ZM23.385,7.376
                     C23.385,7.375 23.385,7.375 23.385,7.374 L23.385,1.252 L20.629,1.252 L20.629,7.589 L20.629,14.697 L23.385,14.697 L23.385,7.376 ZM24.637,8.092 L24.637,15.323
                     C24.637,15.669 24.357,15.949 24.011,15.949 L20.002,15.949 L11.304,15.949 C10.911,17.052 10.683,18.199 10.623,19.373 L24.679,19.373 C25.025,19.373 25.305,19.654
                     25.305,20.000 L25.305,31.777 C27.491,31.292 29.492,30.206 31.096,28.642 L29.356,28.642 C29.010,28.642 28.730,28.362 28.730,28.016 L28.730,24.007 L28.730,13.319
                     C28.730,12.973 29.010,12.692 29.356,12.692 L32.276,12.692 C30.413,10.257 27.658,8.592 24.637,8.092 ZM36.747,13.945 L33.472,13.945 C33.471,13.945 33.471,13.945
                     33.470,13.945 C33.470,13.945 33.470,13.945 33.469,13.945 L29.982,13.945 L29.982,23.381 L36.747,23.381 L36.747,13.945 ZM36.747,24.634 L29.982,24.634 L29.982,27.390
                     L32.517,27.390 L36.747,27.390 L36.747,24.634 ZM32.070,26.012 C32.070,25.666 32.351,25.385 32.697,25.385 L34.033,25.385 C34.379,25.385 34.659,25.666 34.659,26.012
                     C34.659,26.358 34.379,26.638 34.033,26.638 L32.697,26.638 C32.351,26.638 32.070,26.358 32.070,26.012 ZM22.007,6.012 C22.352,6.012 22.633,6.292 22.633,6.638 L22.633,8.643
                     C22.633,8.989 22.352,9.269 22.007,9.269 C21.661,9.269 21.380,8.989 21.380,8.643 L21.380,6.638 C21.380,6.292 21.661,6.012 22.007,6.012 Z"></path>
                  </svg>
                  <h4>DC Power Supply</h4>
                  <span>We provide cost effective solution to allow you deploy an intelligent DC Power Supply from the base of your cell tower to the remote radio units (RRUs).</span>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".2">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" class="svg replaced-svg" viewBox="0 0 40px 40px">
                     <path fill-rule="evenodd" fill="rgb(144, 95, 54)" d="M39.374,20.626 L37.315,20.626 C36.992,29.684 29.684,36.991 20.626,37.315 L20.626,39.373 C20.626,39.719 20.346,40.000 20.000,40.000 C19.654,40.000 19.374,39.719 19.374,39.373 L19.374,37.315 C10.316,36.991 3.008,29.684 2.685,20.626 L0.626,20.626 C0.280,20.626 -0.000,20.345 -0.000,20.000 C-0.000,19.654 0.280,19.373 0.626,19.373 L2.685,19.373 C3.008,10.316 10.316,3.008 19.374,2.684 L19.374,0.626 C19.374,0.280 19.654,-0.001 20.000,-0.001 C20.346,-0.001 20.626,0.280 20.626,0.626 L20.626,2.684 C29.684,3.008 36.992,10.316 37.315,19.373 L39.374,19.373 C39.720,19.373 40.000,19.654 40.000,20.000 C40.000,20.345 39.720,20.626 39.374,20.626 ZM19.374,36.061 L19.374,33.304 C12.527,32.985 7.014,27.473 6.696,20.626 L3.938,20.626 C4.260,28.993 11.007,35.739 19.374,36.061 ZM19.374,3.938 C11.007,4.260 4.260,11.006 3.938,19.373 L6.696,19.373 C7.014,12.526 12.527,7.014 19.374,6.695 L19.374,3.938 ZM20.000,9.269 C19.654,9.269 19.374,8.989 19.374,8.643 L19.374,7.949 C13.217,8.265 8.266,13.217 7.949,19.373 L8.643,19.373 C8.989,19.373 9.269,19.654 9.269,20.000 C9.269,20.345 8.989,20.626 8.643,20.626 L7.949,20.626 C8.266,26.782 13.217,31.734 19.374,32.050 L19.374,31.356 C19.374,31.010 19.654,30.730 20.000,30.730 C20.346,30.730 20.626,31.010 20.626,31.356 L20.626,32.050 C26.782,31.734 31.734,26.782 32.051,20.626 L31.357,20.626 C31.011,20.626 30.731,20.345 30.731,20.000 C30.731,19.654 31.011,19.373 31.357,19.373 L32.051,19.373 C31.734,13.217 26.782,8.265 20.626,7.949 L20.626,8.643 C20.626,8.989 20.346,9.269 20.000,9.269 ZM20.626,3.938 L20.626,6.695 C27.473,7.014 32.986,12.526 33.304,19.373 L36.062,19.373 C35.739,11.006 28.993,4.260 20.626,3.938 ZM33.304,20.626 C32.986,27.473 27.473,32.985 20.626,33.304 L20.626,36.061 C28.993,35.739 35.739,28.993 36.062,20.626 L33.304,20.626 ZM33.159,13.416 C33.474,13.273 33.845,13.415 33.987,13.730 C34.290,14.405 34.545,15.109 34.747,15.821 C34.841,16.154 34.647,16.500 34.314,16.594 C34.257,16.610 34.200,16.618 34.144,16.618 C33.870,16.618 33.619,16.438 33.541,16.162 C33.357,15.508 33.122,14.863 32.844,14.243 C32.702,13.928 32.843,13.557 33.159,13.416 ZM31.338,11.273 C31.158,11.273 30.979,11.195 30.855,11.045 C29.480,9.381 27.717,8.036 25.756,7.156 C25.441,7.014 25.300,6.643 25.442,6.328 C25.583,6.012 25.954,5.872 26.269,6.013 C28.405,6.972 30.325,8.436 31.821,10.248 C32.041,10.514 32.003,10.909 31.737,11.130 C31.620,11.226 31.479,11.273 31.338,11.273 ZM29.979,20.000 C29.979,25.502 25.502,29.979 20.000,29.979 C14.497,29.979 10.021,25.502 10.021,20.000 C10.021,14.497 14.497,10.021 20.000,10.021 C25.502,10.021 29.979,14.497 29.979,20.000 ZM27.728,15.949 L26.074,15.949 C26.390,17.027 26.577,18.189 26.626,19.373 L28.704,19.373 C28.616,18.145 28.273,16.986 27.728,15.949 ZM27.728,24.050 C28.273,23.013 28.616,21.854 28.704,20.626 L26.626,20.626 C26.577,21.810 26.390,22.972 26.074,24.050 L27.728,24.050 ZM26.925,25.302 L25.633,25.302 C25.276,26.163 24.837,26.925 24.336,27.571 C25.342,26.992 26.222,26.219 26.925,25.302 ZM23.293,20.626 C23.270,21.812 23.184,22.975 23.041,24.050 L24.763,24.050 C25.110,22.988 25.318,21.822 25.372,20.626 L23.293,20.626 ZM25.372,19.373 C25.318,18.177 25.110,17.010 24.763,15.949 L23.041,15.949 C23.184,17.024 23.270,18.186 23.293,19.373 L25.372,19.373 ZM24.263,25.302 L22.839,25.302 C22.673,26.170 22.419,27.191 22.043,28.058 C22.908,27.473 23.678,26.526 24.263,25.302 ZM20.000,28.726 C20.290,28.726 21.043,27.845 21.562,25.302 L18.438,25.302 C18.957,27.845 19.710,28.726 20.000,28.726 ZM15.664,27.571 C15.163,26.925 14.724,26.163 14.366,25.302 L13.074,25.302 C13.778,26.219 14.658,26.992 15.664,27.571 ZM16.707,20.626 L14.628,20.626 C14.682,21.822 14.889,22.988 15.237,24.050 L16.959,24.050 C16.815,22.975 16.730,21.812 16.707,20.626 ZM16.959,15.949 L15.237,15.949 C14.890,17.011 14.682,18.177 14.628,19.373 L16.707,19.373 C16.730,18.186 16.815,17.024 16.959,15.949 ZM12.272,24.050 L13.926,24.050 C13.610,22.972 13.423,21.810 13.374,20.626 L11.296,20.626 C11.384,21.854 11.727,23.013 12.272,24.050 ZM12.272,15.949 C11.727,16.986 11.384,18.145 11.296,19.373 L13.374,19.373 C13.423,18.189 13.610,17.027 13.926,15.949 L12.272,15.949 ZM13.074,14.697 L14.366,14.697 C14.724,13.836 15.163,13.074 15.664,12.428 C14.658,13.007 13.778,13.780 13.074,14.697 ZM15.737,14.697 L17.161,14.697 C17.327,13.829 17.581,12.808 17.956,11.941 C17.092,12.526 16.322,13.473 15.737,14.697 ZM17.161,25.302 L15.737,25.302 C16.322,26.526 17.092,27.473 17.956,28.058 C17.581,27.191 17.327,26.170 17.161,25.302 ZM18.223,24.050 L21.777,24.050 C21.927,22.984 22.016,21.819 22.039,20.626 L17.960,20.626 C17.984,21.819 18.073,22.984 18.223,24.050 ZM20.000,11.273 C19.710,11.273 18.957,12.154 18.438,14.697 L21.562,14.697 C21.043,12.154 20.290,11.273 20.000,11.273 ZM21.777,15.949 L18.223,15.949 C18.073,17.015 17.984,18.180 17.960,19.373 L22.040,19.373 C22.016,18.180 21.927,17.015 21.777,15.949 ZM22.043,11.941 C22.419,12.808 22.673,13.829 22.839,14.697 L24.263,14.697 C23.678,13.473 22.908,12.526 22.043,11.941 ZM24.336,12.428 C24.837,13.074 25.276,13.836 25.634,14.697 L26.926,14.697 C26.222,13.780 25.342,13.007 24.336,12.428 Z"></path>
                  </svg>
                  <h4>Mobile Signal Boosters and Repeaters</h4>
                  <span>We are specialized partner for mobile signal repeaters to help operators optimize their network signal.</span>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".25">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53px" height="41px" class="svg replaced-svg" viewBox="0 0 41px 53px">
                     <path fill-rule="evenodd" fill="rgb(255, 108, 0)" d="M47.479,41.000 L5.520,41.000 C2.477,41.000 -0.001,38.539 -0.001,35.513 L-0.001,31.123 C-0.001,28.099 2.477,25.637 5.520,25.637 L13.249,25.637 L13.249,11.371 C13.249,10.766 13.744,10.274 14.353,10.274 C14.963,10.274 15.458,10.766 15.458,11.372 L15.458,25.637 L47.479,25.637 C50.522,25.637 53.000,28.099 53.000,31.123 L53.000,35.513 C53.000,38.537 50.522,41.000 47.479,41.000 ZM50.792,31.123 C50.792,29.308 49.305,27.831 47.479,27.831 L5.520,27.831 C3.694,27.831 2.207,29.308 2.207,31.123 L2.207,35.513 L2.207,35.513 C2.207,37.328 3.693,38.805 5.520,38.805 L47.479,38.805 C49.305,38.805 50.792,37.328 50.792,35.513 L50.792,31.123 ZM45.271,34.416 C44.661,34.416 44.166,33.924 44.166,33.318 C44.166,32.712 44.661,32.221 45.271,32.221 C45.881,32.221 46.375,32.712 46.375,33.318 C46.375,33.924 45.881,34.416 45.271,34.416 ZM38.646,34.416 C38.036,34.416 37.541,33.924 37.541,33.318 C37.541,32.712 38.036,32.221 38.646,32.221 C39.255,32.221 39.750,32.712 39.750,33.318 C39.750,33.924 39.255,34.416 38.646,34.416 ZM32.020,34.416 C31.411,34.416 30.916,33.924 30.916,33.318 C30.916,32.712 31.411,32.221 32.020,32.221 C32.630,32.221 33.125,32.712 33.125,33.318 C33.125,33.924 32.630,34.416 32.020,34.416 ZM25.395,34.416 C24.785,34.416 24.291,33.924 24.291,33.318 C24.291,32.712 24.785,32.221 25.395,32.221 C26.005,32.221 26.499,32.712 26.499,33.318 C26.499,33.924 26.005,34.416 25.395,34.416 ZM18.770,34.416 L7.728,34.416 C7.119,34.416 6.624,33.924 6.624,33.318 C6.624,32.713 7.119,32.221 7.728,32.221 L18.770,32.221 C19.380,32.221 19.874,32.713 19.874,33.318 C19.874,33.924 19.380,34.416 18.770,34.416 ZM23.724,21.781 C23.441,21.781 23.158,21.673 22.944,21.460 C22.513,21.032 22.513,20.337 22.944,19.909 C27.681,15.203 27.681,7.546 22.944,2.838 C22.513,2.410 22.513,1.715 22.944,1.287 C23.375,0.859 24.075,0.859 24.505,1.287 C30.101,6.848 30.101,15.899 24.505,21.460 C24.289,21.673 24.006,21.781 23.724,21.781 ZM21.383,18.357 C21.166,18.570 20.884,18.677 20.601,18.677 C20.318,18.677 20.036,18.570 19.821,18.357 C19.391,17.929 19.391,17.233 19.821,16.805 C22.834,13.810 22.834,8.937 19.821,5.942 C19.391,5.514 19.391,4.818 19.821,4.390 C20.252,3.962 20.952,3.962 21.383,4.390 C25.256,8.242 25.256,14.505 21.383,18.357 ZM18.258,15.252 C18.041,15.464 17.759,15.572 17.476,15.572 C17.193,15.572 16.911,15.466 16.696,15.252 C16.266,14.824 16.266,14.128 16.696,13.700 C17.322,13.077 17.666,12.251 17.666,11.371 C17.666,10.491 17.322,9.666 16.697,9.043 C16.266,8.615 16.266,7.919 16.697,7.491 C17.127,7.063 17.827,7.063 18.258,7.491 C19.300,8.527 19.874,9.906 19.874,11.371 C19.874,12.837 19.300,14.216 18.258,15.252 ZM12.013,15.252 C11.796,15.465 11.514,15.572 11.231,15.572 C10.948,15.572 10.666,15.467 10.449,15.252 C9.407,14.216 8.833,12.837 8.833,11.372 C8.832,9.906 9.407,8.527 10.449,7.492 C10.880,7.063 11.580,7.063 12.010,7.492 C12.441,7.919 12.441,8.615 12.010,9.043 C11.385,9.666 11.041,10.492 11.041,11.372 C11.041,12.252 11.385,13.079 12.013,13.700 C12.443,14.128 12.443,14.824 12.013,15.252 ZM8.888,16.805 C9.318,17.233 9.318,17.929 8.888,18.357 C8.671,18.570 8.389,18.678 8.106,18.678 C7.823,18.678 7.543,18.570 7.326,18.357 C3.453,14.505 3.453,8.242 7.326,4.390 C7.757,3.962 8.457,3.962 8.888,4.390 C9.318,4.818 9.318,5.514 8.888,5.942 C5.875,8.937 5.875,13.810 8.888,16.805 ZM5.765,19.909 C6.196,20.337 6.196,21.032 5.765,21.460 C5.549,21.673 5.266,21.781 4.983,21.781 C4.701,21.781 4.418,21.673 4.204,21.460 C-1.392,15.899 -1.392,6.848 4.204,1.287 C4.634,0.859 5.334,0.859 5.765,1.287 C6.196,1.715 6.196,2.411 5.765,2.838 C1.028,7.544 1.028,15.201 5.765,19.909 Z"></path>
                  </svg>
                  <h4>Base Station Antennas and Equipment</h4>
                  <span>We offer wide range and sizes and configurations to help boost your network capacity and coverage from multibeam, multiport and ultra-wideband antennas to small cell and omni antennas.</span>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".3">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" class="svg replaced-svg" viewBox="0 0 40px 40px">
                     <path fill-rule="evenodd" fill="rgb(93, 189, 83)" d="M38.828,23.515 C38.180,23.515 37.656,22.991 37.656,22.343 L37.656,21.171 L32.863,21.171 C32.778,21.763 32.572,22.347 32.358,22.908 C31.927,24.046 31.236,25.034 30.387,25.859 L34.141,25.859 C36.079,25.859 37.656,27.436 37.656,29.374 L37.656,33.184 C39.017,33.669 40.000,34.958 40.000,36.484 C40.000,38.422 38.423,40.000 36.484,40.000 C34.546,40.000 32.969,38.422 32.969,36.484 C32.969,34.958 33.951,33.669 35.312,33.184 L35.312,29.374 C35.312,28.728 34.787,28.203 34.141,28.203 L28.203,28.203 L28.203,29.374 C28.203,31.313 26.626,32.968 24.687,32.968 C22.349,32.968 21.039,32.968 20.346,32.968 C20.350,32.968 20.178,32.968 19.653,32.968 C18.959,32.968 17.650,32.968 15.312,32.968 C13.374,32.968 11.797,31.313 11.797,29.374 L11.797,28.203 L5.859,28.203 C5.213,28.203 4.687,28.728 4.687,29.374 L4.687,33.184 C6.049,33.669 7.031,34.958 7.031,36.484 C7.031,38.422 5.454,40.000 3.516,40.000 C1.577,40.000 -0.000,38.422 -0.000,36.484 C-0.000,34.958 0.983,33.669 2.344,33.184 L2.344,29.374 C2.344,27.436 3.921,25.859 5.859,25.859 L9.522,25.859 C8.248,24.609 7.408,22.965 7.146,21.171 L2.344,21.171 L2.344,22.343 C2.344,22.991 1.819,23.515 1.172,23.515 C0.524,23.515 -0.000,22.991 -0.000,22.343 L-0.000,17.656 C-0.000,17.008 0.524,16.484 1.172,16.484 C1.819,16.484 2.344,17.008 2.344,17.656 L2.344,18.828 L7.127,18.828 C7.252,17.168 7.714,15.579 8.452,14.132 L5.859,14.132 C3.921,14.132 2.344,12.563 2.344,10.625 L2.344,6.815 C0.983,6.329 -0.000,5.041 -0.000,3.515 C-0.000,1.577 1.577,-0.000 3.516,-0.000 C5.454,-0.000 7.031,1.577 7.031,3.515 C7.031,5.041 6.049,6.329 4.687,6.815 L4.687,10.625 C4.687,11.271 5.213,11.796 5.859,11.796 L9.951,11.796 C12.385,8.838 16.026,7.028 20.000,7.033 C23.723,7.038 27.354,8.690 29.928,11.796 L34.141,11.796 C34.787,11.796 35.312,11.271 35.312,10.625 L35.312,6.815 C33.951,6.329 32.969,5.041 32.969,3.515 C32.969,1.577 34.546,-0.000 36.484,-0.000 C38.423,-0.000 40.000,1.577 40.000,3.515 C40.000,5.041 39.017,6.329 37.656,6.815 L37.656,10.625 C37.656,12.563 36.079,14.140 34.141,14.140 L31.470,14.140 C32.212,15.590 32.754,17.174 32.903,18.828 L37.656,18.828 L37.656,17.656 C37.656,17.008 38.180,16.484 38.828,16.484 C39.476,16.484 40.000,17.008 40.000,17.656 L40.000,22.343 C40.000,22.991 39.476,23.515 38.828,23.515 ZM36.484,37.656 C37.131,37.656 37.656,37.131 37.656,36.484 C37.656,35.837 37.131,35.312 36.484,35.312 C35.838,35.312 35.312,35.837 35.312,36.484 C35.312,37.131 35.838,37.656 36.484,37.656 ZM3.516,35.312 C2.869,35.312 2.344,35.837 2.344,36.484 C2.344,37.131 2.869,37.656 3.516,37.656 C4.162,37.656 4.687,37.131 4.687,36.484 C4.687,35.837 4.162,35.312 3.516,35.312 ZM3.516,2.343 C2.869,2.343 2.344,2.869 2.344,3.515 C2.344,4.162 2.869,4.687 3.516,4.687 C4.162,4.687 4.687,4.162 4.687,3.515 C4.687,2.869 4.162,2.343 3.516,2.343 ZM36.484,4.687 C37.131,4.687 37.656,4.162 37.656,3.515 C37.656,2.869 37.131,2.343 36.484,2.343 C35.838,2.343 35.312,2.869 35.312,3.515 C35.312,4.162 35.838,4.687 36.484,4.687 ZM19.973,9.379 C13.989,9.379 9.524,14.231 9.399,19.554 C9.218,22.219 10.894,24.653 13.358,25.526 C13.822,25.689 14.136,26.127 14.141,26.620 L14.141,29.374 C14.141,30.021 14.666,30.624 15.312,30.624 L16.484,30.624 L16.484,27.031 C16.484,26.383 17.009,25.859 17.656,25.859 C18.303,25.859 18.828,26.383 18.828,27.031 L18.828,30.624 L21.172,30.624 L21.172,27.031 C21.172,26.383 21.697,25.859 22.344,25.859 C22.991,25.859 23.516,26.383 23.516,27.031 L23.516,30.624 L24.687,30.624 C25.334,30.624 25.859,30.021 25.859,29.374 L25.859,26.623 C25.859,26.126 26.173,25.683 26.643,25.518 C28.269,24.945 29.555,23.693 30.168,22.078 C30.420,21.414 30.547,20.716 30.547,19.999 C30.547,14.176 25.842,9.379 19.973,9.379 ZM24.687,23.515 C22.749,23.515 21.172,21.938 21.172,19.999 C21.172,19.556 21.422,19.150 21.820,18.951 L26.507,16.607 C26.870,16.427 27.300,16.443 27.647,16.659 C27.992,16.873 28.203,17.250 28.203,17.656 L28.203,19.999 C28.203,21.938 26.626,23.515 24.687,23.515 ZM25.859,19.552 L23.701,20.631 C23.909,20.956 24.273,21.171 24.687,21.171 C25.334,21.171 25.859,20.646 25.859,19.999 L25.859,19.552 ZM15.312,23.515 C13.374,23.515 11.797,21.938 11.797,19.999 L11.797,17.656 C11.797,17.250 12.007,16.873 12.353,16.659 C12.699,16.445 13.130,16.428 13.493,16.607 L18.180,18.951 C18.577,19.150 18.828,19.556 18.828,19.999 C18.828,21.938 17.251,23.515 15.312,23.515 ZM14.141,19.552 L14.141,19.999 C14.141,20.646 14.666,21.171 15.312,21.171 C15.727,21.171 16.091,20.956 16.299,20.631 L14.141,19.552 Z"></path>
                  </svg>
                  <h4>Microwave Antennas and Accessories</h4>
                  <span>Telecom Inspiration provides unique concept of microwave antennas and accessories with more flexibility for your planning and logistics arrangements.</span>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
               <div class="single-service" data-animate="fadeInUp" data-delay=".35">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="40px" class="svg replaced-svg" viewBox="0 0 40px 38px">
                     <path fill-rule="evenodd" fill="rgb(85, 92, 85)" d="M38.000,20.666 L38.000,26.666 C38.000,29.279 37.276,31.640 35.937,33.554 L35.937,37.999 C35.937,39.133 35.072,40.000 33.940,40.000 L1.996,40.000 C0.932,40.000 -0.000,39.133 -0.000,37.999 L-0.000,29.999 C-0.000,29.155 0.543,28.394 1.331,28.114 L1.331,25.883 C0.572,25.611 -0.000,24.887 -0.000,23.999 L-0.000,16.000 C-0.000,15.155 0.543,14.394 1.331,14.114 L1.331,11.883 C0.572,11.611 -0.000,10.887 -0.000,9.999 L-0.000,1.999 C-0.000,0.933 0.865,-0.000 1.997,-0.000 L33.940,-0.000 C35.005,-0.000 35.937,0.866 35.937,1.999 L35.937,9.999 C35.937,10.897 35.394,11.627 34.606,11.892 L34.606,14.116 C35.365,14.388 35.937,15.112 35.937,16.000 L35.937,19.746 C36.399,19.853 36.886,19.939 37.401,19.999 C37.734,20.066 38.000,20.333 38.000,20.666 L38.000,20.666 ZM1.331,29.999 L1.331,37.999 C1.331,38.333 1.597,38.666 1.996,38.666 L33.940,38.666 C34.273,38.666 34.606,38.399 34.606,37.999 L34.606,35.112 C34.332,35.376 34.044,35.629 33.741,35.866 C32.942,36.533 32.010,36.866 31.145,37.200 L30.879,37.266 C30.833,37.290 30.796,37.304 30.763,37.314 L30.613,37.400 L30.240,37.239 L30.081,37.200 C29.215,36.866 28.350,36.533 27.485,35.866 C25.470,34.251 24.104,31.986 23.559,29.333 L1.996,29.333 C1.664,29.333 1.331,29.599 1.331,29.999 ZM23.358,28.000 C23.356,27.986 23.355,27.972 23.354,27.959 C23.293,27.506 23.292,27.054 23.292,26.666 L23.292,25.999 L2.662,25.999 L2.662,28.000 L23.358,28.000 ZM34.606,1.999 C34.606,1.666 34.340,1.333 33.940,1.333 L1.996,1.333 C1.597,1.333 1.331,1.600 1.331,1.999 L1.331,9.999 C1.331,10.333 1.597,10.666 1.996,10.666 L33.940,10.666 C34.273,10.666 34.606,10.399 34.606,9.999 L34.606,1.999 ZM2.662,12.000 L2.662,13.999 L33.275,13.999 L33.275,12.000 L2.662,12.000 ZM34.672,16.000 C34.672,15.666 34.406,15.333 34.007,15.333 L1.996,15.333 C1.664,15.333 1.331,15.600 1.331,16.000 L1.331,23.999 C1.331,24.333 1.597,24.666 1.996,24.666 L23.292,24.666 L23.292,20.666 L23.292,20.066 L23.891,19.999 C26.753,19.666 28.683,18.533 30.280,17.466 L30.679,17.199 L31.079,17.466 C31.844,18.014 32.789,18.606 33.913,19.095 C34.157,19.197 34.410,19.294 34.672,19.384 L34.672,16.000 ZM36.603,21.266 C34.007,20.866 32.144,19.800 30.613,18.799 C30.230,19.049 29.827,19.299 29.396,19.541 C29.181,19.662 28.959,19.781 28.730,19.896 C28.615,19.954 28.498,20.011 28.380,20.068 C28.142,20.180 27.897,20.288 27.643,20.392 C27.135,20.600 26.593,20.789 26.009,20.951 C25.571,21.073 25.110,21.179 24.624,21.266 L24.624,24.666 L24.624,25.999 L24.624,26.666 C24.624,27.185 24.673,27.704 24.730,28.267 C24.980,30.129 25.670,31.817 26.747,33.197 C27.213,33.787 27.750,34.322 28.350,34.800 C28.558,34.966 28.773,35.107 28.996,35.232 C29.219,35.356 29.450,35.465 29.692,35.568 C29.741,35.589 29.790,35.610 29.839,35.630 C30.085,35.731 30.343,35.829 30.613,35.933 C30.863,35.829 31.112,35.731 31.358,35.630 C31.407,35.609 31.456,35.589 31.504,35.568 C31.748,35.465 31.987,35.356 32.217,35.232 C32.447,35.107 32.668,34.966 32.876,34.800 C33.541,34.266 34.207,33.600 34.739,32.799 L35.179,32.163 C36.107,30.579 36.602,28.697 36.602,26.666 L36.603,26.666 L36.603,21.266 ZM30.280,23.200 L27.951,24.399 L27.951,28.666 C27.951,29.066 27.685,29.333 27.285,29.333 C26.886,29.333 26.620,29.066 26.620,28.666 L26.620,23.999 C26.620,23.733 26.753,23.533 27.019,23.399 L29.681,22.066 C30.014,21.933 30.413,22.066 30.546,22.333 C30.679,22.600 30.546,23.066 30.280,23.200 ZM20.630,22.666 C20.231,22.666 19.965,22.400 19.965,22.000 C19.965,21.599 20.231,21.333 20.630,21.333 C21.030,21.333 21.296,21.599 21.296,22.000 C21.296,22.400 21.030,22.666 20.630,22.666 ZM20.630,18.666 L15.306,18.666 C14.907,18.666 14.641,18.400 14.641,18.000 C14.641,17.600 14.907,17.333 15.306,17.333 L20.630,17.333 C21.030,17.333 21.296,17.600 21.296,18.000 C21.296,18.400 21.030,18.666 20.630,18.666 ZM11.313,22.666 L3.993,22.666 C3.594,22.666 3.327,22.400 3.327,22.000 L3.327,18.000 C3.327,17.600 3.594,17.333 3.993,17.333 L11.313,17.333 C11.713,17.333 11.979,17.600 11.979,18.000 L11.979,22.000 C11.979,22.400 11.713,22.666 11.313,22.666 ZM10.648,18.666 L4.658,18.666 L4.658,21.333 L10.648,21.333 L10.648,18.666 ZM15.306,21.333 C15.706,21.333 15.972,21.599 15.972,22.000 C15.972,22.400 15.706,22.666 15.306,22.666 C14.907,22.666 14.641,22.400 14.641,22.000 C14.641,21.599 14.907,21.333 15.306,21.333 ZM16.637,19.333 C17.037,19.333 17.303,19.599 17.303,19.999 C17.303,20.400 17.037,20.666 16.637,20.666 C16.238,20.666 15.972,20.400 15.972,19.999 C15.972,19.599 16.238,19.333 16.637,19.333 ZM17.968,21.333 C18.368,21.333 18.634,21.599 18.634,22.000 C18.634,22.400 18.368,22.666 17.968,22.666 C17.569,22.666 17.303,22.400 17.303,22.000 C17.303,21.599 17.569,21.333 17.968,21.333 ZM19.299,19.333 C19.699,19.333 19.965,19.599 19.965,19.999 C19.965,20.400 19.699,20.666 19.299,20.666 C18.900,20.666 18.634,20.400 18.634,19.999 C18.634,19.599 18.900,19.333 19.299,19.333 Z"></path>
                  </svg>
                  <h4>Brands we supply</h4>
                  <span>Ericsson, Huawei, Nokia, New Bridge, Siemens, Alcatel, Marconi, Cisco, ZTE, Redback, Ciena, Juniper, Fujitsu ,Nortel and many more.</span>
               </div>
            </div>


         </div>
         <div class="roboto text-center font-weight-medium" data-animate="fadeInUp" data-delay=".65">
            <!-- <p>If you have any questions in your mind, Just <a href="">click here</a> to write or you can <br>Call to <a href="tel:1234567890">(+1) 234-567-890</a></p> -->
         </div>
      </div>
   </div>
</section>

<section class="clients-wrap pt-4 pb-4">
   <div class="container">
      <ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0">
         {% for brand in brands %}
         {% if forloop.counter == 6 %} </ul><ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0"> {% endif %}
         {% if forloop.counter == 11 %} </ul><ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0"> {% endif %}
          {% if forloop.counter == 16 %} </ul><ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0"> {% endif %}
         <li data-animate="fadeInUp" data-delay=".1"> <a href="" target="_blank"><img src="{% version brand.image 'small' %}" alt=""></a></li>
         {% endfor %}
      </ul>
   </div>
</section>
{% endblock main_container %}
