/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

.input-search {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 25px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-btn {
  border-radius: .75rem;
}

/* .sub_menu {
    width: 250px;
}

.sub_menu>1i>a{
    padding-left: 50px !important;
    margin-left: 100px;
} */
